{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/faq.css">
    <title>Frequently Asked Questions</title>
</head>
<body>
    <div class="faq_container">
        <div class="header">
            <div class="general_info_block">
                <h6 class="general_info">General Info</h6>
                <h1 class="faq_title">Frequently Asked Questions</h1>
                <p class="faq_description"> Find answers to common questions about our teas and shipping</p>
            </div>
            <div class="faq_img_container">
                <div class="img_shadow"></div>
                <img src="../static/imgs/slide_imgs/slide/lucas-calloch-P-yzuyWFEIk-unsplash.jpg" alt="faq_bg">
            </div>
        </div>
        <div class="details_container">
            <details class=" details grey_details">
                <summary class="faq_summary">Where is Matcha Verde Tea grown?<span></span></summary>
                <p class="p">Our teas come from the mountains of Kyoto Prefecture and surrounding areas. This region is renowned for producing the highest quality teas in Japan, thanks to its misty climate, rich soil, and near-perfect balance of sunshine and rainfall</p>
                <p class="p">We produce our teas by selecting and blending harvests from different farms in this region, following three centuries of tradition. Each blend is decided by our master blender, who is also our president, and our teas are loved for their refined fragrance, delicate sweetness, refreshing bitterness, and balanced character.</p>
            </details>
            <details class="details">
                <summary class="faq_summary">When is the new harvest of tea sold<span></span></summary>
                <p class="p">From around May to July depending on supplies, you can purchase our freshly harvested sencha Shincha and our New Harvest Matcha, which are both produced solely from that year’s harvest.</p>
                <p class="p">The rest of our regular, year-round selection of teas are blended from different harvests of different farms and different years. Our goal for each of these blends is to produce a consistent character, within a narrow range of variation.</p>
            </details>
            <details class=" details grey_details">
                <summary class="faq_summary">When is the freshest time to purchase the tea?<span></span></summary>
                <p class="p">We produce year-round original blends as our regular selection. For this lineup of classics in each category, each finished tea is a blend of different harvests from different farms and different years, and there is no specific harvest date.</p>
                <p class="p">We produce these blends by slowly and carefully incorporating each year’s harvest into the finished product. This means the flavor and aroma (the character of each blend name) will be within the same narrow range no matter when you purchase the tea throughout the year.
                </p>
            </details>
            <details class="details">
                <summary class="faq_summary">Help my tea is bitter!<span></span></summary>
                <p class="p">Japanese tea naturally has components in it that give a sharp, dry, bitter, and astringent flavor and feel when we drink it. Just like learning to enjoy the bitterness in coffee, learning to enjoy the unique bitterness of authentic green tea can take some time!</p>
                <p class="p">We produce tea with a history of being a tea shop in Kyoto for over three centuries, and our president is the latest in line from the family that has run this shop since the beginning. In addition to acting as president, he is in charge of the blending process, and each tea is blended to his specifications. Following with this lineage and history, we expect and enjoy some amount of astringency and bitterness in our teas.</p>
                <p class="p">Some people find that the strength of the tea in our recipes is too strong. Our standard brewing instructions are based on our in-house preferences. To make a lighter brew strength, we recommend changing the recipes by reducing the amount of tea leaf, lowering the temperature of your water, and/or brewing for a shorter time.</p>
            </details>
            <details class=" details grey_details">
                <summary class="faq_summary">How should I store my tea?<span></span></summary>
                <p class="p">The best way to store the tea is to place it in a spot avoiding direct contact with the sun, hot temperatures, humidity, and strong smells. Room temperature is fine.</p>
                <p class="p">For best results, in between uses roll up the bag holding the tea, clip it closed, and store it on its own or in its can.For matcha cans, if you are a frequent matcha drinker (around once per day), you can pour the powder from the bag into the can for convenience. Otherwise, we recommend rolling the bag shut and storing it inside the can.</p>
            </details>
            <details class="details">
                <summary class="faq_summary">How long will my tea be fresh after opening?<span></span></summary>
                <p class="p">The best-before date for unopened Ippodo tea is written on the barcode sticker on the package in a YYYY.MM.DD format, and is around 6 months from the packaging date. After opening the package, consume the tea soon (within around 1 month) for the freshest flavor and aroma.</p>
                <p class="p">There is no hard expiration date for our teas. Keep in mind that even unopened tea will lose its freshness steadily after the 6 months best-before period. For freshness, we often recommend opening and consuming one package at-a-time.</p>
                <p class="p">If you have tea that you would like to use beyond the 6 month best-before date, we suggest putting it in the freezer until later. When you are ready to use it, take it out of the freezer, and let it sit at room temperature until it is adjusted, for around 5 hours. (This way the condensation has evaporated and the tea has acclimated.) Then, open the package and use the tea normally. After opening, do not return to the freezer; just use normally and store at room temperature.</p>
            </details>
            <details class=" details grey_details">
                <summary class="faq_summary">Which matcha do you recommend for baking?<span></span></summary>
                <p class="p">For baking and other similar uses, we often recommend Wakaki or Hatsu. These two matcha blends are also great for drinking straight or in a latte.</p>
            </details>
            <details class="details">
                <summary class="faq_summary">Why are there clumps in matcha<span></span></summary>
                <p class="p">Clumps naturally develop in matcha powder, and they are not the sign of a spoiled or defective matcha. Sifting matcha powder before preparing will break apart these clumps and make it easier to whisk thoroughly. This will improve the texture of your drink and allow you to enjoy a smooth and aromatic bowl of matcha.</p>
            </details>
            <details class=" details grey_details">
                <summary class="faq_summary">When was the tea harvested?<span></span></summary>
                <p class="p">All of our teas are harvested in early summer, and the exact harvest date each year depends on the growing conditions. For the farms we select in the mild mountain climate in the Kyoto region, there is only one harvest season each year. There is no specific harvest date for our teas. Each is a blend, from different farms and different harvest dates.</p>
            </details>
            <details class="details">
                <summary class="faq_summary">Can I pay by cash, prepaid credit card or bank transfer?<span></span></summary>
                <p class="p">At IppodoTea.com we are not able to accept payment by cash, prepaid card, or bank transfer. IppodoTea.com only accepts the following types of payment:<br>
                    Credit Card (VISA, MasterCard, American Express, Discover)
                    <br>
                    PayPal
                </p>
                <p class="p">We also accept the following crypto currencies:<br>
                    Ethereum (ETH) <br>
                    Bitcoin (BTC) <br>
                    DAI <br>
                    USDC</p>
            </details>
            <details class=" details grey_details">
                <summary class="faq_summary">Can I redirect my order?<span></span></summary>
                <p class="p">Unfortunately, we are not able to redirect orders once items have been dispatched. Please make sure your shipping address is correct.</p>
            </details>
        </div>
    </div>
    
</body>
</html>
{%endblock%}