<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_mobile.css">
    <link rel="stylesheet" href="../static/css/style_landscape.css">
    <link rel="stylesheet" href="../static/css/style_laptop.css">
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>MatchaVerde</title>
</head>
<div class="recipe_footer"></div>
<!-- ======================== FOOTER ===================================== -->
<div class="footer_container">
    <div class="account_and_guide_container">
        <div class="account_col">
            <h5 class="account_col_title">Account</h5>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
        <div class="guide_col">
            <h5 class="guide_col_title">Shopping Guide</h5>
            <a href="#">About</a>
            <a href="#">FAQ</a>
            <a href="#">Recipes</a>
            <a href="#">Shipping & Delivery</a>
            <a href="#">Payment Policy</a>
            <a href="#">Wholesale</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
    <div class="footer_matcha_logo_container">
        <img src="../static/imgs/matcha_logo/matcha_verde.png" alt="footer_matcha_logo" class="footer_matcha_logo">
    </div>
    <div class="payment_method_container">
        <img src="../static/imgs/matcha_logo/matcha_verde.png" alt="footer_matcha_logo" class="footer_matcha_logo_laptop">
        <div class="first_payment_method_row">
            <img src="../static/imgs/payment_methods/american-express-credit-card-payment-method-19678.png" alt="amex_method" class="payment_method">
            <img src="../static/imgs/payment_methods/Apple-Pay-Logo-2014.png" alt="apple_pay_method" class="payment_method">
            <img src="../static/imgs/payment_methods/black-amazon-logo-with-yellow-arrow-19628.png" alt="amazon_method" class="payment_method">
            <img src="../static/imgs/payment_methods/Google_Pay_Logo.svg.png" alt="google_pay_method" class="payment_method">
        </div>
        <div class="second_payment_method_row">
            <img src="../static/imgs/payment_methods/mastercard2.png" alt="mastercard_method" class="payment_method">
            <img src="../static/imgs/payment_methods/paypal-blue-logo-19528.png" alt="paypal_method" class="payment_method">
            <img src="../static/imgs/payment_methods/visa.png" alt="visa_method" class="payment_method">
        </div>
    </div>
</div>
<!-- ======================== BOTTOM =================================== -->
<div class="bottom_container">
    <p class="bottom_paragraph"> Thank you for visiting</p>
    <p class="bottom_paragraph2">© 2023, Matcha Verde</p>
</div>
</div>
<script src="../static/js/script.js"></script>
</body>
</html>