
{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_landscape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_laptop.css') }}">
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>MatchaVerde</title>
</head>
<body>
    <div class="home_container">
        <!-- ======================= SLIDE SHOW SECTION =========================== -->
        <div class="slide_show_container">
            <div class="slide_show_arrows">
                <button class="left_arrow"><</button>
                <button class="right_arrow">></button>
            </div>
            <div class="slide_imgs_container">
                <section class="slide" id="slide_1">
                    <img src="../static/imgs/slide_imgs/slide/pexels-pixabay-461428.jpg" alt="matcha_slide_1">
                    
                    <div class="slide_info main_slide">
                        <p class="slide_item_description_main">It's tea o'clock... <br>you're just in time </p>
                        <h4 class="matcha_name_main">Matcha Verde</h4>
                        <button class="slide_shop_now_btn">Shop now</button>
                    </div>
                </section>
                <section class="slide" id="slide_2">
                    <img src="../static/imgs/slide_imgs/slide/pexels-darina-belonogova-8004565.jpg" alt="matcha_slide_2">
                    <div class="slide_info">
                        <div class="slide_img_container">
                            <img src="../static/imgs/matcha_types_imgs/ippodo-tea-ummon-40g-matcha_98cfdb6b-463f-472e-aced-416ce61f7405_750x750.png" alt="matcha_item">
                            <div class="matcha_item_shadow_circ"></div>
                        </div>
                        
                        <div class="description_container">
                            <p class="slide_item_description">Rich & Robust</p>
                            <h4 class="items_name">Ummon 40g</h4>
                            <button class="slide_add_to_bag_btn">Add to bag</button>
                            <button class="slide_view_item_btn">View Item</button>
                        </div>
                    </div>
                </section>
                <section class="slide" id="slide_3">
                    <img src="../static/imgs/slide_imgs/slide/eleonora-albasi-fSAyrw46Tx4-unsplash.jpg" alt="matcha_slide_3">
                    <div class="slide_info">
                        <div class="slide_img_container">
                            <img src="../static/imgs/matcha_types_imgs/hatsu.png" alt="matcha_item">
                            <div class="matcha_item_shadow"></div>
                        </div>
                        <div class="description_container">
                            <p class="slide_item_description">Light & Astringent</p>
                            <h4 class="items_name">Hatsu 40g</h4>
                            <button class="slide_add_to_bag_btn">Add to bag</button>
                            <button class="slide_view_item_btn">View Item</button>
                        </div>
                    </div>
                </section>
                <section class="slide" id="slide_4">
                    <img src="../static/imgs/slide_imgs/pexels-thirdman-6958396.jpg" alt="matcha_slide_4">

                    <div class="slide_info">
                        <div class="slide_img_container">
                            <img src="../static/imgs/matcha_types_imgs/Sayaka100g.png" alt="matcha_item" id="sayaka_img">
                            <div class="matcha_item_shadow_bag"></div>
                        </div>
                        <div class="description_container">
                            <p class="slide_item_description">Rich & Smooth</p>
                            <h4 class="items_name">Sayaka 100g</h4>
                            <button class="slide_add_to_bag_btn">Add to bag</button>
                            <button class="slide_view_item_btn">View Item</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- ======================== HELP AREA ======================== -->
        <div class="help_container">
            <div class="start_quiz_block">
                <h2 class="help_title title">Find the right Matcha for you.</h2>
                <p class="help_description">We have several categories of Matcha to try. Take a quiz and find out a type of matcha that suits you.</p>
                <div class="quiz_btn_container">
                    <button type="submit" class="help_start_quiz_btn"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-cup" viewBox="0 1 16 16">
                        <path fill-rule="evenodd" d="M.11 3.187A.5.5 0 0 1 .5 3h13a.5.5 0 0 1 .488.608l-.22.991a3.001 3.001 0 0 1-1.3 5.854l-.132.59A2.5 2.5 0 0 1 9.896 13H4.104a2.5 2.5 0 0 1-2.44-1.958L.012 3.608a.5.5 0 0 1 .098-.42Zm12.574 6.288a2 2 0 0 0 .866-3.899l-.866 3.9ZM1.124 4l1.516 6.825A1.5 1.5 0 0 0 4.104 12h5.792a1.5 1.5 0 0 0 1.464-1.175L12.877 4H1.123Z"/>
                    </svg>Start our quiz</button>
                </div>
            </div>
            {% for matcha in matchas:%}
                <img src="../static/imgs/{{matcha.img}}"alt="help_matcha_img" class="help_matcha_img">
            {% endfor %}
        </div>
        <!-- ============================================================ -->


        <!-- ======================= ABOUT SECTION =========================== -->
        <div class="about_container">
            <div class="about_logo_container">
                <img src="../static/imgs/matcha_logo/Matcha_Verde_Official_Logo copy/matcha_logo_no_title_noBG.png" alt="matcha_logo" class="about_logo">
            </div>
            <h2 class="about_container_title title">About Matcha Verde</h2>
            <p class="about_container_paragraph paragraph">We are a family-run tea company founded in 2023. For generations, we have upheld a tradition of aromatic, well-balanced teas by carefully selecting, blending, and crafting each of our 30+ blends.</p>
            <div class="about_btn_container">
                <a href="/matchas">
                    <button class="about_show_now_btn">Shop now</button>
                </a>
                <a href="/about">
                    <button class="more_about_us_btn">More about us</button>
                </a>
            </div>
        </div>
        <!-- ======================= BEST SELLER SECTION =========================== -->
        <div class="top_rank_container">
            <h2 class="top_rank_container_title title">This Week's Best Seller</h2>
            <div class="top_rank_items_main_container">
                <!-- ======================= BEST SELLER UPPER ROW =========================== -->
                <div class="top_rank_first_row">
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION  ======== -->
                    <div class="top_rank_item_container">
                        <img src="../static/imgs/matcha_types_imgs/ippodo-tea-ummon-40g-matcha_98cfdb6b-463f-472e-aced-416ce61f7405_750x750.png" alt="top_rank_item_pic" class="top_rank_imgs">
                        <div class="top_rank_item_info_section">
                            <h4 class="top_rank_title">Ummon</h4>
                            <p class="top_rank_subtitle">Rich & Invigorating</p>
                            <p class="top_rank_item_price">$30</p>
                            <button class="add_to_bag_btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="add_to_bag_icon" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5      3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2      5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                            </svg> Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION =========== -->
                    <div class="top_rank_item_container">
                        <img src="../static/imgs/matcha_types_imgs/hatsu.png" alt="top_rank_item_pic" class="top_rank_imgs">
                        <div class="top_rank_item_info_section">
                            <h4 class="top_rank_title"> Hatsu </h4>
                            <p class="top_rank_subtitle">Rich & Invigorating</p>
                            <p class="top_rank_item_price">$30</p>
                            <button class="add_to_bag_btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="add_to_bag_icon" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg> Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= TOP RANK ITEM SECTION =========== -->
                    <div class="top_rank_item_container">
                        <img src="../static/imgs/matcha_types_imgs/ippodo-tea-ummon-40g-matcha_98cfdb6b-463f-472e-aced-416ce61f7405_750x750.png" alt="top_rank_item_pic" class="top_rank_imgs">
                        <div class="top_rank_item_info_section">
                            <h4 class="top_rank_title">Ummon</h4>
                            <p class="top_rank_subtitle">Rich & Invigorating</p>
                            <p class="top_rank_item_price">$30</p>
                            <button class="add_to_bag_btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="add_to_bag_icon" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg> Add to bag</button>
                        </div>
                    </div>
                </div>
                <div class="top_rank_second_row">
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="top_rank_item_container">
                        <img src="../static/imgs/matcha_types_imgs/hatsu.png" alt="top_rank_item_pic" class="top_rank_imgs">
                        <div class="top_rank_item_info_section">
                            <h4 class="top_rank_title"> Hatsu </h4>
                            <p class="top_rank_subtitle">Rich & Invigorating</p>
                            <p class="top_rank_item_price">$30</p>
                            <button class="add_to_bag_btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="add_to_bag_icon" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg> Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="top_rank_item_container">
                        <img src="../static/imgs/matcha_types_imgs/ippodo-tea-ummon-40g-matcha_98cfdb6b-463f-472e-aced-416ce61f7405_750x750.png" alt="top_rank_item_pic" class="top_rank_imgs">
                        <div class="top_rank_item_info_section">
                            <h4 class="top_rank_title">Ummon</h4>
                            <p class="top_rank_subtitle">Rich & Invigorating</p>
                            <p class="top_rank_item_price">$30</p>
                            <button class="add_to_bag_btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="add_to_bag_icon" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg> Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="top_rank_item_container">
                        <img src="../static/imgs/matcha_types_imgs/hatsu.png" alt="top_rank_item_pic" class="top_rank_imgs">
                        <div class="top_rank_item_info_section">
                            <h4 class="top_rank_title"> Hatsu </h4>
                            <p class="top_rank_subtitle">Rich & Invigorating</p>
                            <p class="top_rank_item_price">$30</p>
                            <button class="add_to_bag_btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="add_to_bag_icon" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg> Add to bag</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================= RECIPES SECTION =========================== -->
        <div class="matcha_recipes_container">
            <h2 class="matcha_recipes_title title">Featured Recipes</h2>
            <a class="matcha_recipes_browse" href="/recipes">Browse all recipes ></a>
            <div class="matcha_recipes_block_container">
                <div class="matcha_recipe_block">
                    <img src="../static/imgs/matcha_recipes_imgs/jason-leung-Z-hvocTfR_s-unsplash.jpg" alt="matcha_logo_img" class="matcha_recipes_container_img">
                    <h6 class="item_type">MATCHA</h6>
                    <h3 class="matcha_recipe_name">Usucha (Thin Matcha)</h3>
                    <p class="matcha_recipe_info">The standard matcha whisking method, made to be a normal, liquid consistency.</p>

                    <details class="recipes_details light_detail">
                        <summary class="recipes_summary">More... <span></span> </summary>
                        <p class="recipes_paragraph">We recommend drinking usucha at teatime for an energetic boost. It goes well with chocolate, cakes, and other confections, Western or Japanese.</p>
                    </details>
                    <details class="recipes_details dark_detail">
                        <summary class="recipes_summary">Step 1 <span></span></summary>
                        <p class="recipes_paragraph">2 g (0.07 oz) <br>
                            1.5 heaping tea ladles or 1 level teaspoon.</p>
                    </details>
                    <details class="recipes_details light_detail">
                        <summary class="recipes_summary">Step 2 <span></span></summary>
                        <p class="recipes_paragraph">60 mL (2 oz)
                            80°C (176°F) <br>
                            Pour boiling water into a teacup to cool it to 80°C, then pour into tea bowl.</p>
                    </details>
                    <details class="recipes_details dark_detail">
                        <summary class="recipes_summary">Step 3 <span></span></summary>
                        <p class="recipes_paragraph">15 seconds <br>
                            Whisk vigorously 15 seconds, making an "M" shape.</p>
                    </details>
                </div>
                <div class="matcha_recipe_block">
                    <img src="../static/imgs/matcha_recipes_imgs/iced_matcha.png" alt="matcha_logo_img" class="matcha_recipes_container_img">
                    <h6 class="item_type">MATCHA</h6>
                    <h3 class="matcha_recipe_name">Iced Matcha Latte</h3>
                    <p class="matcha_recipe_info">Our matcha latter recipe over ice, One part matcha with one part cold, refreshing mild topped off with ice</p>
                    <details class="recipes_details light_detail">
                        <summary class="recipes_summary">Step 1 <span></span></summary>
                        <p class="recipes_paragraph">3 g (0.11 oz) <br>
                            2 heaping tea ladles or 1.5 level teaspoons.</p>
                    </details>
                    <details class="recipes_details dark_detail">
                        <summary class="recipes_summary">Step 2 <span></span></summary>
                        <p class="recipes_paragraph">100 mL (3.4 oz) <br>
                            80°C (176°F)
                            Pour boiling water into a teacup to cool it to 80°C, then pour into tea bowl.</p>
                    </details>
                    <details class="recipes_details light_detail">
                        <summary class="recipes_summary">Step 3 <span></span></summary>
                        <p class="recipes_paragraph">15 seconds <br>
                            Whisk vigorously 15 seconds, making an "M" shape.</p>
                    </details>
                    <details class="recipes_details dark_detail">
                        <summary class="recipes_summary">Step 4 <span></span></summary>
                        <p class="recipes_paragraph">100 mL (3.4 oz) <br>
                            Add cold milk and ice to a glass, then pour the matcha mixture on top. Enjoy!</p>
                    </details>
                </div>
                <div class="matcha_recipe_block">
                    <img src="../static/imgs/matcha_recipes_imgs/thick_matcha.jpeg" alt="matcha_logo_img" class="matcha_recipes_container_img">
                    <h6 class="item_type">MATCHA</h6>
                    <h3 class="matcha_recipe_name">Koicha (Thick Matcha)</h3>
                    <p class="matcha_recipe_info">Matcha made into a powerfully rich, thick paste using less water and more matcha powder per serving</p>
                    <details class="recipes_details light_detail">
                        <summary class="recipes_summary">More...<span></span></summary>
                        <p class="recipes_paragraph">Taking the time to sift the matcha powder produces thick and creamy koicha. Discover the amazing bounty of nature and the strength of the tea leaves.</p>
                    </details>
                    <details class="recipes_details dark_detail">
                        <summary class="recipes_summary">Step 1 <span></span></summary>
                        <p class="recipes_paragraph">4 g (0.14 oz) <br>
                            3 heaping tea ladles or 2 level teaspoons.</p>
                    </details>
                    <details class="recipes_details light_detail">
                        <summary class="recipes_summary">Step 2 <span></span></summary>
                        <p class="recipes_paragraph">30 mL (1 oz)
                            80°C (176°F) <br>
                            Cool boiling water to 80°C in teacup, then pour into bowl, just covering matcha powder</p>
                    </details>
                    <details class="recipes_details dark_detail">
                        <summary class="recipes_summary">Step 3 <span></span></summary>
                        <p class="recipes_paragraph">15 seconds <br>
                            Mix slowly for 15 seconds moving back and forth.</p>
                    </details>
                </div>

            </div>
        </div>
        <div class="recipe_footer"></div>
    <script src="../static/js/script.js"></script>
</body>
</html>
{%endblock%}