<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bert-sans" type="text/css"/>
    <title>Matcha Verde</title>
</head>
<body>
    <div class="container_index_page">
        <div class="logIn_or_signUp_section">
            <a href="/login_page"><button type="button" class="logIn_link">Log In </button></a>
            <a href="/register_page"><button type="button" class="signUp_link">Join</button></a>
        </div>
        <img src="../static/imgs/matcha_logo/matcha_verde.png" alt="matcha_logo" class="matcha_logo" onclick="logoTranslation()">
    </div>
    <h1 class="main_title" onmouseover="TitleColorAnim()" onmouseleave="removeTitleColorAnim()"> Matcha Verde</h1>
    <script src="../static/js/script.js"></script>
</body>
</html>