{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/item.css') }}">
        <title>Item</title>
    </head>
    <body>
        <div class="container item_page_container">
            <div class="header_container">
                <h5 class="type"> Matcha </h5>
                <h5 class="matcha_small_name"> -{{matchas.matcha_qty}} </h5>
            </div>
            <div class="item_container">
                <div class="item_img_block">
                    <img src="../static/imgs/{{matchas.img}}" alt="main_img" class="main_img" id="main_img">
                    <div class="row_img_group">
                        <img src="../static/imgs/{{matchas.img}}" alt="small_matcha_img" class="small_img">
                        <img src="../static/imgs/{{matchas.small_img_one}}" alt="small_matcha_img" class="small_img">
                        <img src="../static/imgs/{{matchas.small_img_two}}" alt="small_matcha_img" class="small_img">
                        <img src="../static/imgs/{{matchas.small_img_three}}" alt="small_matcha_img" class="small_img">
                    </div>
                </div>
                <div class="item_description_block">
                    <p class="taste_description">{{matchas.matcha_short_description}}</p>
                    <h2 class="matcha_name">{{matchas.matcha_name.title()}} - {{matchas.matcha_qty}}</h2>
                    <p class="review_stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    <span class="review_count">(59)</span></p>
                    <p class="item_price"> ${{matchas.price}} </p>
                    <div class="btn_options_row">
                        <div class="counter">
                            <button id="minus" onclick="decreaseBtn(event, this)">-</button>
                            <input type="number" id="count" name="count" value="1">
                            <button id="plus" onclick="increaseBtn(event, this)">+</button>
                        </div>
                        <button class="item_add_to_bag_btn" type="submit">Add to bag</button>
                    </div>
                    <p class="below_item_description">{{matchas.taste_description}}</p>
                    <details class=" item_details taste_notes">
                        <summary class="item_summary"> Taste Notes <span></span></summary>
                            <h6 class="details_info">{{matchas.taste_notes}}</h6>
                            
                    </details>
                </div>
            </div>
            <div class="review_container">
                <div class="review_header">
                    <h4>Customer Reviews</h4>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>4.92 out of 5 based on 59 reviews</p>
                </div>
                <div class="review_blocks">
                    <div class="info">
                        <h5 class="user_name">John Doe</h5>
                        <p class="date_posted">Dec 27, 2023</p>
                        <div class="stars_rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="message">
                        <h5 class="msg_title">Nice product</h5>
                        <p class="msg_content">
                            Great flavor, not too strong and goes so well with almond milk. Absolutely love it
                        </p>
                    </div>
                </div>
                <div class="review_blocks">
                    <div class="info">
                        <h5 class="user_name">John Doe</h5>
                        <p class="date_posted">Dec 27, 2023</p>
                        <div class="stars_rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="message">
                        <h5 class="msg_title">Nice product</h5>
                        <p class="msg_content">
                            Great flavor, not too strong and goes so well with almond milk. Absolutely love it
                        </p>
                    </div>
                </div>
                <div class="leave_review_btn_container">
                    <button type="submit" class="leave_review_btn">Leave a review<button>
                </div>
            </div>
        </div>
        <script src="../static/js/item.js"></script>
    </body>
    </html>
{%endblock%}