{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/item.css') }}">
        <title>Item</title>
    </head>
    <body>
        <div class="container item_page_container">
            <div class="header_container">
                <h5 class="type"> Matcha </h5>
                <h5 class="matcha_small_name"> {{review.matcha.matcha_name.title()}}
                </h5>
            </div>
            <div class="item_container">
                <div class="item_img_block">
                    <img src="../static/imgs/{{review.matcha.img}}" alt="main_img" class="main_img" id="main_img">
                    <div class="row_img_group">
                        <img src="../static/imgs/{{review.matcha.img}}" alt="small_matcha_img" class="small_img">
                        <img src="../static/imgs/{{review.matcha.small_img_one}}" alt="small_matcha_img" class="small_img">
                        <img src="../static/imgs/{{review.matcha.small_img_two}}" alt="small_matcha_img" class="small_img">
                        <img src="../static/imgs/{{review.matcha.small_img_three}}" alt="small_matcha_img" class="small_img">
                    </div>
                </div>
                <div class="item_description_block">
                    <p class="taste_description">{{review.matcha.matcha_short_description}}</p>
                    <h2 class="matcha_name">{{review.matcha.matcha_name.title()}} - {{review.matcha.matcha_qty}}</h2>
                    <p class="review_stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    <span class="review_count">(59)</span></p>
                    <p class="item_price"> ${{review.matcha.price}} </p>
                    <form action="/add_item" method='post' class="add_item_to_bag" name="add_item">
                        <div class="btn_options_row">
                            <div class="counter">
                                <input type="hidden" id="matcha_id" name="matcha_id" value={{matcha.id}}>
                                <input type="hidden" id="user_id" name="user_id" value={{matcha.user.id}}>
                                <button type="button" id="minus" onclick="decreaseBtn(event, this)">-</button>
                                <input type="number" id="count" name="count" value="{{bags.item_qty}} "placeholder="0" >
                                <button type="button" id="plus" onclick="increaseBtn(event, this)">+</button>
                            </div>
                            <button class="item_add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </form>
                    <p class="below_item_description">{{review.matcha.taste_description}}</p>
                    <details class=" item_details taste_notes">
                        <summary class="item_summary"> Taste Notes <span></span></summary>
                            <h6 class="details_info">{{review.matcha.taste_notes}}</h6>
                            
                    </details>
                </div>
            </div>
            <div class="review_container">
                <div class="review_header">
                    <h4>Customer Reviews</h4>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>{{review.stars}} out of 5</p>
                    {% for review in reviews: %}
                </div>
                <div class="review_blocks">
                    <div class="info">
                        <h5 class="user_name">{{review.first_name.title()}}</h5>
                        <p class="date_posted">{{review.created_at.strftime('%b %d, %Y')}}</p>
                        <div class="stars_rate">
                            {% if review.stars == 1: %}
                                <i class="fa-solid fa-star"></i>
                            {% elif review.stars == 2: %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            {% elif review.stars == 3: %}
                            <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            {% elif review.stars == 4: %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            {% elif review.stars == 5: %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                        <div class="message">
                            <h5 class="msg_title">{{review.review_title.title()}}</h5>
                            <p class="msg_content">
                                {{review.message.title()}}
                            </p>
                        </div>
                    {% endfor %}
                    </div>
                <div class="leave_review_btn_container">
                    <a href="/leave_review/{{review.matcha.matcha_name}}">
                    <button type="submit" class="leave_review_btn">Leave a review<button>
                    </a>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/item.js')}}"></script>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
    </html>
{%endblock%}