{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/leave_review.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Leave a review</title>
</head>
<body class="leave_review_body">
    <div class="review_container">
        <div class="error_share  mx-auto ">
            {% with messages = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <p class="error_sharing text-center">{{message}}</p> 
            {% endfor %}
            {% endif %}

            {% endwith %}
        </div>
        <form action="/create_review" method="post" class="review_input" name="review_input">
            <div class="review_input_block">
                <div class="matcha_name_img_container">
                    <h3>{{matchas.matcha_name.title()}}</h3>
                    <img id="leave_review_img" src="../static/imgs/{{matchas.img}} " alt="matcha_img">
                </div>
                <h4>How would you rate it?</h4>
                <div class="rating-wrapper">
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1" class= "star"><i class="fa-solid fa-star" id="1" value="1"></i></label>
                    <input type="radio" id="star2" name="stars" value="2">
                    <label for="star2" class= "star"><i class="fa-solid fa-star" id="2" value="2"></i></label>
                    <input type="radio" id="star3" name="stars" value="3">
                    <label for="star3" class= "star"><i class="fa-solid fa-star" id="3" value="3"></i></label>
                    <input type="radio" id="star4" name="stars" value="4">
                    <label for="star4" class= "star"><i class="fa-solid fa-star" id="4" value="4"></i></label>
                    <input type="radio" id="star5" name="stars" value="5">
                    <label for="star5" class= "star"><i class="fa-solid fa-star" id="5" value="5"></i></label>
                </div>
                <input type="hidden" name="star" value="{{reviews.stars}}">

                <h4>Title your review</h4>
                <input type="text" name="review_title" id="review_title" placeholder="What's most important to know?">
                <h4>Write your review</h4>
                <textarea name="message" id="review" cols="30" rows="10" placeholder="What did you like or dislike?"></textarea>
            </div>
            <div class="leave_review_btns_block">
                
                <input type="hidden" name="user_id" value="{{session['user_id']}}"> 
                <input type="hidden" name="matcha_id" value="{{matchas.id}}">
                <button type="submit" value="leave_review" class="submit_review_btn btn_light" >Submit</button>

            </div>
        </form>
    </div>
    <script src="{{url_for('static', filename='js/leave_review.js')}}"></script>
</body>
</html>

{% endblock %}