{% extends "base.html" %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/recipes.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="recipes_top_container">
        <div class="recipes_bg"></div>
        <div class="recipes_top_info_container">
            <p>Recipes</p>
            <h2>Different Matcha Ways</h2>
            <p>Follow our recipes to experience different ways on how to prepare you matcha</p>
        </div>

    </div>
    <div class="matcha_recipes_container">
        <h2 class="matcha_recipes_title title">Featured Recipes</h2>
        <div class="matcha_recipes_block_container">
            <div class="matcha_recipe_block">
                <img src="../static/imgs/matcha_recipes_imgs/jason-leung-Z-hvocTfR_s-unsplash.jpg" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Usucha (Thin Matcha)</h3>
                <p class="matcha_recipe_info">The standard matcha whisking method, made to be a normal, liquid consistency.</p>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">More... <span></span> </summary>
                    <p class="recipes_paragraph">We recommend drinking usucha at teatime for an energetic boost. It goes well with chocolate, cakes, and other confections, Western or Japanese.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 1 <span></span></summary>
                    <p class="recipes_paragraph">2 g (0.07 oz) <br>
                        1.5 heaping tea ladles or 1 level teaspoon.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 2 <span></span></summary>
                    <p class="recipes_paragraph">60 mL (2 oz)
                        80°C (176°F) <br>
                        Pour boiling water into a teacup to cool it to 80°C, then pour into tea bowl.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 3 <span></span></summary>
                    <p class="recipes_paragraph">15 seconds <br>
                        Whisk vigorously 15 seconds, making an "M" shape.</p>
                </details>
            </div>
            <div class="matcha_recipe_block">
                <img src="../static/imgs/item_imgs/matcha-cold-whisked-recipe_500x500.webp" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Cold-Whisked Matcha</h3>
                <p class="matcha_recipe_info">Whisking matcha with cold or chilled water brings out a strong sweetness.</p>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 1 <span></span></summary>
                    <p class="recipes_paragraph">Sift matcha <br>
                        2 g (0.07 oz) <br>
                        1.5 heaping tea ladles or 1 level teaspoon.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 2 <span></span></summary>
                    <p class="recipes_paragraph">60 mL (2 oz) <br>
                        5°C (40°F) <br>
                        Chill water with ice and strain before use.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 3 <span></span></summary>
                    <p class="recipes_paragraph">15 seconds <br>
                        Whisk vigorously 15 seconds, making an "M" shape.</p>
                </details>
            </div>
            <div class="matcha_recipe_block">
                <img src="../static/imgs/matcha_recipes_imgs/thick_matcha.jpeg" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Koicha (Thick Matcha)</h3>
                <p class="matcha_recipe_info">Matcha made into a powerfully rich, thick paste using less water and more matcha powder per serving</p>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">More...<span></span></summary>
                    <p class="recipes_paragraph">Taking the time to sift the matcha powder produces thick and creamy koicha. Discover the amazing bounty of nature and the strength of the tea leaves.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 1 <span></span></summary>
                    <p class="recipes_paragraph">4 g (0.14 oz) <br>
                        3 heaping tea ladles or 2 level teaspoons.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 2 <span></span></summary>
                    <p class="recipes_paragraph">30 mL (1 oz)
                        80°C (176°F) <br>
                        Cool boiling water to 80°C in teacup, then pour into bowl, just covering matcha powder</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 3 <span></span></summary>
                    <p class="recipes_paragraph">15 seconds <br>
                        Mix slowly for 15 seconds moving back and forth.</p>
                </details>
            </div>
        </div>
    </div>
    <div class="matcha_recipes_container">
        <div class="matcha_recipes_block_container">
            <div class="matcha_recipe_block">
                <img src="../static/imgs/item_imgs/recipe-matcha-latte-feature_500x500.webp" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Matcha Latte</h3>
                <p class="matcha_recipe_info">Combine matcha's natural sweetness and crisp green bite with the creamy texture of milk.</p>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 1 <span></span></summary>
                    <p class="recipes_paragraph">1. Sift matcha <br>
                        3 g (0.11 oz) <br>
                        2 heaping tea ladles or 1.5 level teaspoons.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 2 <span></span></summary>
                    <p class="recipes_paragraph">2. Add hot water <br>
                        100 mL (3.4 oz) <br>
                        80°C (176°F) <br>
                        Pour boiling water into a teacup to cool it to 80°C, then pour into tea bowl.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 3 <span></span></summary>
                    <p class="recipes_paragraph">15 seconds <br>
                        Mix slowly for 15 seconds moving back and forth.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 4 <span></span></summary>
                    <p class="recipes_paragraph">4. Add milk <br>
                        100 mL (3.4 oz) <br>
                        Pour warm or foamed milk into mug.</p>
                </details>
            </div>
            <div class="matcha_recipe_block">
                <img src="../static/imgs/matcha_recipes_imgs/iced_matcha.png" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Iced Matcha Latte</h3>
                <p class="matcha_recipe_info">Our matcha latter recipe over ice, One part matcha with one part cold, refreshing mild topped off with ice</p>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 1 <span></span></summary>
                    <p class="recipes_paragraph">1. Sift matcha <br>
                        3 g (0.11 oz) <br>
                        2 heaping tea ladles or 1.5 level teaspoons.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 2 <span></span></summary>
                    <p class="recipes_paragraph">2. Add hot water <br>
                        100 mL (3.4 oz) <br>
                        80°C (176°F) <br>
                        Pour boiling water into a teacup to cool it to 80°C, then pour into tea bowl.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 3 <span></span></summary>
                    <p class="recipes_paragraph">15 seconds <br>
                        Mix slowly for 15 seconds moving back and forth.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 4 <span></span></summary>
                    <p class="recipes_paragraph">4. Pour over milk and ice <br>
                        100 mL (3.4 oz) <br>
                        Add cold milk and ice to a glass, then pour the matcha mixture on top. Enjoy!</p>
                </details>
            </div>
            <div class="matcha_recipe_block">
                <img src="../static/imgs/item_imgs/matcha-iced-recipe_500x500.webp" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Iced Matcha</h3>
                <p class="matcha_recipe_info">Prepare matcha with hot water and cool it rapidly with plenty of ice.</p>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 1 <span></span></summary>
                    <p class="recipes_paragraph">3 g (0.11 oz) <br>
                        2 heaping tea ladles or 1.5 level teaspoons.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 2 <span></span></summary>
                    <p class="recipes_paragraph">100 mL (3.4 oz) <br>
                        80°C (176°F)
                        Pour boiling water into a teacup to cool it to 80°C, then pour into tea bowl.</p>
                </details>
                <details class="recipes_details dark_detail">
                    <summary class="recipes_summary">Step 3 <span></span></summary>
                    <p class="recipes_paragraph">15 seconds <br>
                        Whisk vigorously 15 seconds, making an "M" shape.</p>
                </details>
                <details class="recipes_details light_detail">
                    <summary class="recipes_summary">Step 4 <span></span></summary>
                    <p class="recipes_paragraph">100 mL (3.4 oz) <br>
                        Add cold milk and ice to a glass, then pour the matcha mixture on top. Enjoy!</p>
                </details>
            </div>
        </div>
    </div>
    
</body>
</html>

{%endblock%}