{% extends "base.html" %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/recipes.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="recipes_top_container">
        <div class="recipes_bg"></div>
        <div class="recipes_top_info_container">
            <p>Recipes</p>
            <h2>Different Matcha Ways</h2>
            <p>Follow our recipes to experience different ways on how to prepare you matcha</p>
        </div>

    </div>
    <div class="matcha_recipes_container">
        <h2 class="matcha_recipes_title title">Featured Recipes</h2>
        <a class="matcha_recipes_browse" href="/all_recipes">Browse all recipes ></a>
        <div class="matcha_recipes_block_container">
            <div class="matcha_recipe_block">
                <img src="../static/imgs/matcha_recipes_imgs/jason-leung-Z-hvocTfR_s-unsplash.jpg" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Usucha (Thin Matcha)</h3>
                <p class="matcha_recipe_info">The standard matcha whisking method, made to be a normal, liquid consistency.</p>
            </div>
            <div class="matcha_recipe_block">
                <img src="../static/imgs/matcha_recipes_imgs/iced_matcha.png" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Iced Matcha Latte</h3>
                <p class="matcha_recipe_info">Our matcha latter recipe over ice, One part matcha with one part cold, refreshing mild topped off with ice</p>
            </div>
            <div class="matcha_recipe_block">
                <img src="../static/imgs/matcha_recipes_imgs/thick_matcha.jpeg" alt="matcha_logo_img" class="matcha_recipes_container_img">
                <h6 class="item_type">MATCHA</h6>
                <h3 class="matcha_recipe_name">Koicha (Thick Matcha)</h3>
                <p class="matcha_recipe_info">Matcha made into a powerfully rich, thick paste using less water and more matcha powder per serving</p>
            </div>

        </div>
    </div>
    
</body>
</html>

{%endblock%}