{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/shopping_bag.css') }}">
    <title>Shopping Bag</title>
</head>
<body>
    <form action="/place_order">

        <div class="shopping_bag_container">
            <div class="shopping_bag_block_header">
                <h2>Shopping Bag</h2>
                <h6>Free Shipping</h6>
            </div>
            <table id="table">
                <tr class="tr_header_SB">
                    <th id="product_th_SB" >Product</th>
                    <th>QTY</th>
                    <th>Price</th>
                </tr>
                    {% for b in bag %}
                    {% if b.user.id == user.id %}
                    
                    <tr class="each_item">
                        <td id="product_td_SB">
                            <section class="product_section_SB">
                                <img src="../static/imgs/{{b.img}}" alt="item_img" class="bag_item_img" name = "item_img">
                                <div class="item_name_container_SB">
                                    <h6><b>{{b.matcha_name.title()}} - {{b.matcha_qty}}</b></h6>
                                    <a href="/matcha/delete/{{b.id}}"><p>Remove</p></a>
                                </div>
                            </section>
                        </td>
                        <td>
                            <section class="left_section_SB">
                                <div class="bag_counter">
                                    <button class="bag_minus bag_minus_SB" onclick="minusBtn(event, this)">-</button>
                                    <input type="number" class="bag_count bag_count_SB" name="count" value="1">
                                    <button class="bag_plus bag_plus_SB" onclick="plusBtn(event, this)">+</button>
                                </div>
                            </section>
                        </td>
                        <td>
                            <section class="right_section_SB">
                                <p>${{b.price}}.00</p>
                            </section>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <div class="total_price_container">
                    <p class="total">Total</p>
                <p class="total_price">$ 40.00</p>
            </div>
        </div>
    </form>
</div>
</body>
</html>
{% endblock %}