{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="video_container">
        <section class="vid_block">
            <video class="vid" autoplay muted loop playsinline>
                <source src="../static/imgs/about_video_bg/pexels-ivan-samkov-8507716 (1080p).mp4" type="video/mp4" autoplay="true">
            </video>
            <div class="video_text">
                <h4 class="video_title">An Matcha Verde Story </h4>
                <p class="video_paragraph">We are a family-run tea company founded in 2023. For generations we have upheld a tradition of aromatic, well-balanced teas by carefully selecting, blending, and crafting each of our 30+ blends.</p>
            </div>
        </section>
    </div>
    <div class="about_page_upper_container">
        <div class="info_block">
            <h2 class="about_upper_info_title">About Matcha Verde</h2>
            <p class="about_upper_info_paragraph">Matcha Verde has been providing the highest qualityJapanese green tea for over three centuries.
            </p>
            <p class="about_upper_info_paragraph">
                More than just a retailer, Matcha Verde is a multi-faceted tea company that carefully selects, blends, and crafts its tea.
            </p>
            <p class= "about_upper_info_paragraph">   Our teas are of the finest class, cultivated in the mountains and the surrounding area. This region is renowned for producing the highest grade of green tea in Japan, thanks largely to its mild misty climate, mineral-rich soil, and near-perfect balance of sunshine and rainfall.</p>
        </div>
        <div class="about_upper_img_container">
            <img src="../static/imgs/about_video_bg/about_img/pexels-cup-of-couple-8474150.jpg" alt="about_img" class="about_upper_img">
        </div>
    </div>
    <div class="line_decor_container">
        <section class="line_decor"></section>
    </div>
    <div class="about_page_lower_container">
        <div class="info_block">
            <h2 class="about_lower_info_title">The Pleasure of Tea</h2>
            <p class="about_lower_info_paragraph">Tea is both a beverage and an experience, which comforts us and brings us together.</p>
            <p class="about_lower_info_paragraph">
                Whether sipping on a relaxing cup of tea on a quiet morning, or enjoying a nice conversation over tea with a friend, your tea experiences should be delightful.
            </p>
            <p class="about_lower_info_paragraph">To help you experience tea to its fullest, we are eager to answer any question that you may have, no matter how simple or complicated, through our contact page and in person at our store locations. We hope you enjoy exploring all the delicate pleasures that each of our teas has to offer.</p>
        </div>
        <div class="about_upper_img_container">
            <img src="../static/imgs/about_video_bg/about_img/about-featureimage.jpg" alt="about_img" class="about_lower_img">
        </div>
    </div>
    <div class="line_decor_container">
        <section class="line_decor"></section>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
{%endblock%}