<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchaVerde</title>
</head>
<body>
    <div class="home_container">
        <!-- =======================    NAV     =========================== -->
        <div class="nav">
            <div class="nav_first_row">
                <div class="nav_left_side">
                    <h4 class="matcha_title">Matcha Verde</h4>
                    <img src="" alt="matcha_logo" class="home_matcha_logo">
                </div>
                <div class="nav_rightSide">
                    <a href="about">About</a>
                    <a href="/blog">Blog</a>
                    <a href="/recipes">Recipes</a>
                    <a href="/frequently_asked_questions">FAQ</a>
                    <!-- <a href="/bag">Bag</a>
                    <a href="/account">Account</a> -->
                </div>
            </div>
            <div class="nav_second_row">
                <a href="/matcha">Matcha</a>
                <a href="/organic">Organic</a>
                <a href="/utensils">Utensils</a>
            </div>
        </div>
        <!-- ======================= SLIDE SHOW SECTION =========================== -->
        <div class="slide_show_area">
            <div class="slide_show_container">
                <button class="left_arrow"><</button>
                <button class="right_arrow">></button>
                <section class="slide slide_1"></section>
                <section class="slide slide_2"></section>
                <section class="slide slide_3"></section>
                <section class="slide slide_4"></section>
            </div>
        </div>
        <!-- ======================= BEST SELLER SECTION =========================== -->
        <div class="best_seller_container">
            <h2 class="best_seller_container_title">Best Sellers Options</h2>
            <div class="best_seller_items_container">
                <!-- ======================= BEST SELLER UPPER ROW =========================== -->
                <div class="best_seller_upper_row">
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION  ======== -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION =========== -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION =========== -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                </div>
                <div class="best_seller_lower_row">
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================= ABOUT SECTION =========================== -->
        <div class="about_container">
            <img src="logo" alt="logo_img" class="about_container_logo_img">
            <h2 class="about_container_title">About Matcha Verde</h2>
            <p class="about_container_paragraph"></p>
        </div>

    </div>
    
</body>
</html>