<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchaVerde</title>
</head>
<body>
    <div class="home_container">
        <!-- =======================    NAV     =========================== -->
        <div class="nav">
            <div class="nav_first_row">
                <div class="nav_left_side">
                    <h4 class="matcha_title">Matcha Verde</h4>
                    <img src="" alt="matcha_logo" class="home_matcha_logo">
                </div>
                <div class="nav_rightSide">
                    <a href="about">About</a>
                    <a href="/blog">Blog</a>
                    <a href="/recipes">Recipes</a>
                    <a href="/frequently_asked_questions">FAQ</a>
                    <!-- <a href="/bag">Bag</a>
                    <a href="/account">Account</a> -->
                </div>
            </div>
            <div class="nav_second_row">
                <a href="/matcha">Matcha</a>
                <a href="/organic">Organic</a>
                <a href="/utensils">Utensils</a>
            </div>
        </div>
        <!-- ======================= SLIDE SHOW SECTION =========================== -->
        <div class="slide_show_area">
            <div class="slide_show_container">
                <button class="left_arrow"><</button>
                <button class="right_arrow">></button>
                <section class="slide slide_1"></section>
                <section class="slide slide_2"></section>
                <section class="slide slide_3"></section>
                <section class="slide slide_4"></section>
            </div>
        </div>
        <!-- ======================= BEST SELLER SECTION =========================== -->
        <div class="best_seller_container">
            <h2 class="best_seller_container_title">Best Sellers Options</h2>
            <div class="best_seller_items_container">
                <!-- ======================= BEST SELLER UPPER ROW =========================== -->
                <div class="best_seller_upper_row">
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION  ======== -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION =========== -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION =========== -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                </div>
                <div class="best_seller_lower_row">
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                    <!-- ======================= BEST SELLER INDIVIDUAL ITEM SECTION ============ -->
                    <div class="best_seller_item_container">
                        <img src="#" alt="best_seller_item_pic">
                        <div class="best_seller_item_info_section">
                            <h4 class="best_seller_title">{{Matcha}} Matcha</h4>
                            <p class="best_seller_subtitle">Rich & Invigorating</p>
                            <p class="best_seller_item_price">{{PRICE}} $30</p>
                            <button class="add_to_bag_btn" type="submit">Add to bag</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================= ABOUT SECTION =========================== -->
        <div class="about_container">
            <img src="logo" alt="logo_img" class="about_container_logo_img">
            <h2 class="about_container_title title">About Matcha Verde</h2>
            <p class="about_container_paragraph paragraph">We are a family-run tea company founded in 2020, in the heart of Kyoto. For generations, we have upheld a tradition of aromatic, well-balanced teas by carefully selecting, blending, and crafting each of our 30+ blends.</p>
            <div class="about_btn_container">
                <button class="about_show_now_btn">Shop now</button>
                <button class="more_about_us_btn">More about us</button>
            </div>
        <!-- ======================= RECIPES SECTION =========================== -->
        </div>
        <div class="matcha_recipes_container">
            <div class="matcha_recipe_block">
                <h2 class="matcha_recipes_title">Featured Recipes</h2>
                <p class="matcha_recipes_browse">Browse all recipes</p>
                <img src="#" alt="matcha_logo_img" class="matcha_recipes_container_logo_img">
                <h3 class="matcha_recipe_name">Matcha Latte</h3>
                <p class="matcha_recipe_info">An easy recipe for preparing at home to enjoy with breakfast or as a snack</p>
            </div>
            <div class="matcha_recipe_block">
                <h2 class="matcha_recipes_title">Featured Recipes</h2>
                <p class="matcha_recipes_browse">Browse all recipes</p>
                <img src="#" alt="matcha_logo_img" class="matcha_recipes_container_logo_img">
                <h3 class="matcha_recipe_name">Matcha Latte</h3>
                <p class="matcha_recipe_info">An easy recipe for preparing at home to enjoy with breakfast or as a snack</p>
            </div>
            <div class="matcha_recipe_block">
                <h2 class="matcha_recipes_title">Featured Recipes</h2>
                <p class="matcha_recipes_browse">Browse all recipes</p>
                <img src="#" alt="matcha_logo_img" class="matcha_recipes_container_logo_img">
                <h3 class="matcha_recipe_name">Matcha Latte</h3>
                <p class="matcha_recipe_info">An easy recipe for preparing at home to enjoy with breakfast or as a snack</p>
            </div>
        </div>
        <!-- ======================== FOOTER ===================================== -->
        <div class="footer_container">
            <div class="footer_matcha_logo_container">
                <img src="#" alt="footer_matcha_logo" class="footer_matcha_logo">
            </div>
            <div class="payment_method_container">
                <img src="#" alt="payment_method" class="payment_method">
                <img src="#" alt="payment_method" class="payment_method">
                <img src="#" alt="payment_method" class="payment_method">
                <img src="#" alt="payment_method" class="payment_method">
                <img src="#" alt="payment_method" class="payment_method">
            </div>
            <div class="acount_and_guide_container">
                <div class="account_col">
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                </div>
            </div>
            <div class="guide_col">
                <a href="#">About</a>
                <a href="#">FAQ</a>
                <a href="#">Recipes</a>
                <a href="#">Shipping & Delivery</a>
                <a href="#">Payment Policy</a>
                <a href="#">Wholesale</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <!-- ======================== BOTTOM =================================== -->
        <div class="bottom_container">
            <p class="bottom_paragraph"> Thank you for visiting</p>
            <p class="bottom_paragraph2">© 2023, Matcha Verde</p>
        </div>
    </div>
    
</body>
</html>