<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchaVerde</title>
</head>
<body>
    <div class="home_container">
        <div class="nav">
            <div class="nav_first_row">
                <div class="nav_left_side">
                    <h4 class="matcha_title">Matcha Verde</h4>
                    <img src="" alt="matcha_logo" class="home_matcha_logo">
                </div>
                <div class="nav_rightSide">
                    <a href="about">About</a>
                    <a href="/blog">Blog</a>
                    <a href="/recipes">Recipes</a>
                    <a href="/frequently_asked_questions">FAQ</a>
                    <!-- <a href="/bag">Bag</a>
                    <a href="/account">Account</a> -->
                </div>
            </div>
            <div class="nav_second_row">
                <a href="/matcha">Matcha</a>
                <a href="/organic">Organic</a>
                <a href="/utensils">Utensils</a>
            </div>
        </div>
        <div class="slide_show_area">
            <div class="slide_show_container">
                <button class="left_arrow"><</button>
                <button class="right_arrow">></button>
                <section class="slide slide_1"></section>
                <section class="slide slide_2"></section>
                <section class="slide slide_3"></section>
                <section class="slide slide_4"></section>
            </div>
        </div>

    </div>
    
</body>
</html>