<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Matcha Temple</title>
</head>
<body>
    <div class="container_index_page">
        <img src="../static/imgs/matcha_logo/matcha_logo3.png" class="matcha_logo" alt="matcha_logo" class="matcha_logo">
        <div class="logIn_or_signUp">
            <button type="button" class="logIn_link">Log In</button>
            <button type="button" class="signUp_link">Join</button>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>