<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/logIn.css">
    <title>Log In</title>
</head>
<body>
    <div class="log_in_container">
        <!-- ============================= LOG IN ============================= -->
        <form action="/login" method="post" class="logIn_form">
            <img src="../static/imgs/matcha_logo/Screenshot 2023-11-18 at 4.15.30 PM.png" alt="matcha_logo" class="matcha_logo">
            <div class="email_form">
                <input type="text" name="text" placeholder="email" class="email_input">
            </div>
            <div class="password_form">
                <input type="password" name="password" placeholder="password" class="password_input">
            </div>
            <div class="log_in_button_container">
                <button type="submit" class="log_in_button">Log In</button>
            </div>
        </form>
    </div>
</body>
</html>