<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/logIn_and_register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/solid.min.css" integrity="sha512-3Xlq6/m1pc+8T7pBp1bEiXqkePXleQYqwrOJYUd9QObFM2jktAZdjFAJZDNS13kG8j9/+u5PhEzhFREtTAcozg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/js/regular.min.js" integrity="sha512-BPOhwSdJ8G1Cuvpcvo0BwXns2ue06D15sVPJGYckCc8GuHXeXnzfXVgI9t6uYWtWoANPbJ0jjjG2E9TwALt/wQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Join</title>
</head>
<body>
    <div class="sign_up_container logIn_signIn_mode">
        <!-- <button class="dark_mode_btn" onclick="darkMode()"></button> -->
        <!-- ============================= SIGN UP ============================= -->
        <div class="matcha_logo_container">
            <img src="../static/imgs/matcha_logo/matcha_verde.png" alt="matcha_logo" class="matcha_logo_signUp">
        </div>
        <form action="/join" method="post" class="signUp_form">
            <input type="text" name="name" class="input_class sign_in_first_name" placeholder="first name">
            <input type="text" name="last_name" class="input_class sign_in_last_name" placeholder="last name">
            <input type="email" name="email" class="input_class sign_in_email" placeholder="email">
            <input type="password" name="password" class="input_class sign_in_password" placeholder="password">
            <input type="password" name="password" class="input_class sign_in_confirm_password" placeholder="confirm password">
            <div class="sign_up_button_container">
                <button type="submit" class="sign_up_button">Join</button>
                <a href="./logIn" class="logIn_transfer_link">Log In</a>
            </div>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>