*, *::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, .container{
    background:rgb(21, 13, 0);
    overflow-x: hidden;
}

/* ===================== IMG BG CONTAINER ===================================== */
.header{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column-reverse;
}

.header img{
    height: 90svh;
    padding-top: 3.5rem;
    width: 100svw;
    object-fit: cover;
}
.faq_img_container{
    z-index: 1;
    height: 100svh;
    width: 100svw;
    position: absolute
}
.img_shadow{
    height: 100svh;
    width: 100svw;
    z-index: 2;
    position: absolute;
    background: linear-gradient(to top, rgba(35, 35, 35) 25%, rgba(255, 255, 255, 0)50%);
}
/* ============================================================= */
/* ======================= GENERAL INFO ============================ */

.general_info_block{
    height: 30svh;
    z-index: 2;
    color: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
}

/* ============================================================= */
/* ====================== DETAILS TAGS ========================= */

.details_container{
    padding: 4rem .5rem;
}

.details{
    color: rgba(255, 255, 255, 0.9);
    margin: .5rem 1rem;
    padding: 0rem;
    display: flex;
}
.faq_summary{
    padding: 1rem;
    color: rgba(255, 255, 255, 0.9);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grey_details{
    background: rgba(35, 35, 35, 0.7);
}

.faq_summary span::before{
    content: '+';

}
s

details[open] > .p{
    padding: .5rem 1rem 1rem;
    color: rgba(255, 255, 255, 0.9);
}
.details[open] > .faq_summary span::before{
    content: '';
}
.details[open] > .faq_summary span::after{
    content: '-';
}

.details span::before, .details span::after{
    display: flex;
    justify-content: right;
    align-items: right;
    color: white ;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 2rem;
}

/* ============================================================= */

/* ====================== LANDSCAPE VIEW ======================== */

@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {

    .faq_img_container,.header img, .img_shadow{
        height: 100dvh;
        padding: 0;
    }
    .header{
        height: 100dvh;
        width: 100dvw;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3.5rem;
    }
    .faq_img_container{
        width: 50dvw;
        padding: 0;
    }
    .general_info_block{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        width: 40dvw;
        height: 100dvh;
    }

    .img_shadow{
        background: linear-gradient(to right, rgba(35, 35, 35) 38%, rgba(255, 255, 255, 0)50%);
    }

}
/* ============================================================= */
/* ==================== LAPTOP VIEW ============================= */

@media screen and (min-device-width: 850px){
    .header{
        height: 60dvh;
        justify-content: top;
    
    }

    .faq_title{
        font-size: 3rem;
        font-weight: 900;
    }
    .faq_img_container,.header img, .img_shadow{
        height: 80dvh;
        margin-top: 0;
    }
    .header img {
        height: 80dvh;
    }

    .img_shadow{
        background: linear-gradient(to right top, rgba(35, 35, 35) 30%, rgba(255, 255, 255, 0)50%);

    }
    .general_info_block{
        width: 40dvw;
        padding-left: 5rem;
    }
    .faq_summary{
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
    }

    .details_container{
        width: 92dvw;
    }

    .faq_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faq_container details{
        padding: .5rem 2rem;
    }
    details[open] > summary {
        animation: detail_selected .8s linear ;
    }
}
@keyframes detail_selected {
    0%{color:rgba(255, 255, 255, 0.9) ;}
    50%{color:rgba(255, 255, 255, 0.3) ;}
    100%{color: rgba(255, 255, 255, 0.9) ;}
    
}




/* ============================================================= */


