*, *::before, *::after{
    padding: 0rem;
    margin: 0;
    font-weight: lighter;
}

/*========================= CONTAINER ============================*/
.container, html{
    background:rgb(21, 13, 0);
    padding: 0;
    color: white;
}


/* ================================================================= */


/* ======================== DETAIL TAG =============================== */
details > summary{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
summary span::before{
    content: '+';

}
details[open] > summary span::after{
    content: '-';
}
details[open] > summary span::before{
    content: '';
}
details{
    display: flex;
    background-color: rgba(132, 132, 132, 0.15);
    border-radius: .5rem;
    color: white;
    padding: .8rem ;
    margin: .5rem .5rem;
}
details span::before, details span::after{
    color: white ;
    font-weight: 600;
    font-size: 1.2rem;
}

/* ====================================================================== */

/* ======================== RATING STARS =============================== */
.stars i {
    color: rgba(255, 255, 255, 0.25);
    transition: .6s ease-in-out;
    font-size: 1.4rem;
}

.stars i.active{
    color: rgb(183, 223, 158);

}

/* ===================================================================== */

/* ============================ REVIEWS =============================== */
.review_container{
    background-color: rgb(25, 25, 25);
    padding: 1rem;
    margin: 0rem;
}

.review_header{
    height: 15svh;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.review_header h4{
    font-size: 1.6rem;

}
.review_blocks{
    display: flex ;
    height: auto;
    padding: 3rem 0rem;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.info, .message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .2rem;
}
/* =============== INFO BLOCK ==================*/
.info{
    width: 25svw;
}
.stars_rate{
    font-size: .7rem;
}
.user_name{
    font-size: 1rem;
    font-weight: 600;
}

/* ============================================== */
/* =============== MESSAGE BLOCK ==================*/
.message{
    height: auto;
    width: 60svw;
}
.msg_title{
    font-size: 1.1rem;
    font-weight: 600;
}

.msg_content{
    word-wrap: break-word;
    margin-top: .3rem;
    
}








/* ===================================================================== */

