
*, *::before, *::after{
    padding: 0;
    margin: 0;
}

/*========================= CONTAINER ============================*/
.container, html,body{
    background:rgb(21, 13, 0);
    color: white;
    overflow-x: hidden;
}

.container{
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ================================================================= */


/* ======================== HEADER CONTAINER=============================== */
.header_container{
    height: 10svh;

    margin-bottom: -3svh;
    width: 100svw;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.matcha_small_name, .taste_description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}
.type{
    font-weight: 900;
    color: white;
}

/* ================================================================= */

/* ======================== ITEM CONTAINER ============================= */
.item_container{
    height: auto;
    width: 100svw;
    padding: 2rem;
    margin-bottom: 1rem;
}

.item_img_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_img{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}


.row_img_group{
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
    height: 4.5rem;
    width: 90svw;
}
.small_img{
    height: 3.8rem;
    width: 3.8rem;
    cursor: pointer;
    border-radius: .3rem;
}

/* ================================================================= */
/* ======================= ITEM DESCRIPTION BLOCK =============================== */
.item_description_block{
    margin-top: 1rem;
}

.matcha_name{
    font-size: 1.8rem;
    margin-top: -.4rem;
}

.btn_options_row{
    display: flex;
    height: 20svh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.item_add_to_bag_btn, .leave_review_btn{
    border-radius: 5rem;
    height: 3rem;
    width: 90svw;
    background-color: rgb(223, 223, 223);
}

.leave_review_btn_container{
    width: 100svw;
    display: flex;
    justify-content: center;
}

.leave_review_btn_container button{
    outline: 0;
    border: none;
}

.counter{
    border: 2px solid white;
    border-radius: 5rem;
    height: 3rem;
    width: 90svw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input:focus{
    outline: 0;
    appearance: none;
}
#count, #plus, #minus{
    background:none;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

#count{
    text-align: center;
}

.below_item_description{
    padding: .5rem;
}
/* ================================================================= */


/* ======================== DETAIL TAG =============================== */
details > .item_summary{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: space-between;
}
.item_summary span::before{
    content: '+';

}
details[open] > .item_summary span::after{
    content: '-';
}
details[open] > .item_summary span::before{
    content: '';
}

details[open] > .details_info {
    margin-top: .6rem;
}

details[open] > .item_summary {
    border-bottom: 2px solid rgba(255, 255, 255, 0.424);
}
.item_details{
    display: flex;
    background-color: rgba(132, 132, 132, 0.15);
    border-radius: .5rem;
    color: white;
    padding: .4rem 1.4rem;
    margin-top: 1rem ;
}
details span::before, details span::after{
    display: flex;
    color: white ;
    font-weight: 600;
    font-size: 1.4rem;
}

/* ====================================================================== */

/* ======================== RATING STARS =============================== */
.stars i {
    color: rgba(255, 255, 255, 0.25);
    transition: .6s ease-in-out;
    font-size: 1.4rem;
}

/* .stars i.active{
    color: rgb(183, 223, 158);
} */

/* ===================================================================== */

/* ============================ REVIEWS =============================== */
.review_container{
    background-color: rgb(25, 25, 25);
    padding: 1.5rem;
    margin: 0rem;
}
.stars{
    padding: .5rem;
}

.review_header{
    height: 20svh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.review_header h4{
    font-size: 1.6rem;

}
.review_blocks{
    display: flex ;
    justify-content: center;
    height: auto;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.info, .message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .2rem;
}
/* =============== INFO BLOCK ==================*/
.info{
    width: 25svw;
    padding: 4rem 0rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;


}
.stars_rate{
    font-size: .7rem;
}
.user_name{
    font-size: 1.2rem;
    font-weight: 600;
}

/* ============================================== */
/* =============== MESSAGE BLOCK ==================*/
.message{
    height: auto;
    width: 60svw;
}
.msg_title{
    font-size: 1.1rem;
    font-weight: 600;
}

.msg_content{
    word-wrap: break-word;
    margin-top: .3rem;
    
}

/* ===================================================================== */

@media screen and (min-device-width: 566px){
    .container{
        all: unset;
    }
    .leave_review_btn_container{
        width: 100%;
    }
}

/* -------------------------------------------------------------------------- */
/* ========================== LANDSCAPE MEDIA Q============================ */
/* -------------------------------------------------------------------------- */

@media (orientation: landscape) and (max-height: 450px) and (max-width: 935px) {
    *, *::before, *::after{
        padding: 0;
        margin: 0;
    }
    .container{
        all: unset;
    }
    .btn_options_row{
        height: 38dvh;
    }
    .subscribe_btn, .item_add_to_bag_btn,.counter{
        width:40dvw;
    }

    .header_container{
        padding-top: 30dvh;
    }
    .item_container{
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .item_img_block, .item_description_block, .row_img_group{
        width: 40dvw;
    }
    .item_description_block{
        text-align: center;
        margin: 0;

    }
    .item_img_block{
        height: auto;
    }
    .small_img{
        min-height: 15dvh;
        cursor: pointer;
        min-width: 8dvw;
        padding: .2rem;
        border-radius: .4rem;
        object-fit: cover;
    }
    .main_img{
        min-height: 80dvh;
    }
    /* ===================================================================== */
    /* =========================REVIEW CONTAINER============================ */
    .review_container{
        width: 100dvw;
        margin: 0;
        padding: 2rem;
    }

    .review_header{
        padding: 5dvh;
        margin-bottom: 15dvh;
    }
    .user_name{
        font-size: 1.8rem;
    }
    .msg_title{
        font-size: 1.2rem;
    }
    .review_blocks{
        height: auto;
        align-items: center;
    }
    .leave_review_btn_container{
        margin: 0;
        padding-bottom: 2rem;
        display: flex ;
        justify-content: center;
        align-items: center;
        width: 91dvw;
    }

/* ===================================================================== */
}
/* -------------------------------------------------------------------------- */
/* ========================== LAPTOP MEDIA Q============================ */
/* -------------------------------------------------------------------------- */

@media screen and (min-device-width: 850px){

    .container{
        all: unset;
    }

    .header_container{
        padding-top: 18dvh;
        height: 4dvh;
        margin-bottom: -15dvh;
        
    }
    .nav, .nav_block{
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
    .item_container{
        display: flex;
        flex-direction: row ;
        justify-content: space-evenly;
        align-items: center;
        padding:0rem 2.5rem ;
        margin-top: -4rem;
        height: 100dvh;
    }
    details[open] > .item_description_block{
        display: block;
        
    }
    .details_info{
        text-align: left;
    }

    input:focus{
        outline: 0;
    }
    input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
        appearance: none;
    }
    .item_description_block{
        width: 40dvw;

    }

    .item_img_block, .row_img_group{
        width: 40dvw;
        height: 75dvh;
    }
    .item_img_block{
        justify-content: space-around;

    }
    .item_description_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .row_img_group{
        height: 10dvh;
        width: 42dvw;
        margin-top: -4rem;
    }

    .main_img{
        height: 40dvh;
        width: 25dvw;
        margin-bottom: 2rem;
        object-fit: cover;
    }

    .small_img{
        height: 10dvh;
        width: 7dvw;
        object-fit: cover;
    }
    .item_add_to_bag_btn,.counter{
        width:30dvw;
        margin: 0rem .6rem;
        height: 6dvh;
    }
    .user_name{
        font-size: 2rem;
    }
    .msg_title{
        font-size: 1.5rem;
    }

    .review_blocks{
        padding: 0rem 3rem;
    }
    .info{
        width: 20dvw;
    }
    .message{
        width: 75dvw;
    }

    .leave_review_btn_container{
        width: 100%;
    }

}
