
.review_container{
    height: auto;
    color: rgba(255, 255, 255, 0.875);
    width: 100svw;
    display: flex;
    justify-content: center;
    padding-bottom: 4svh;
    background: rgb(21, 13, 0);
}

.rating-checked { 
    filter: none !important;
    color: rgb(183, 223, 158);
}
.star{
    filter: invert(85%) sepia(1%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(104%);
    padding-right: 3px;
    font-size: 3dvh;
}
form{
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

form h3{
    margin-bottom: 3svh;
    text-align: center;

}
form h4{ 
    margin: 3svh 0svh;
    font-size: 1rem;
}
#review_title, textarea{
    width: 90svw;
    padding: 1svh;
    border-radius: 1svh;
}

.matcha_name_img_container{
    display: flex;
    height: 25svh;
    margin-top: 15svh;
    flex-direction: column;
    justify-content: flex-end;
}
#leave_review_img{
    height: 15svh;
    object-fit: contain;
    margin-bottom: 2svh;
}

.submit_review_btn{
    font-size: 1rem;
    border: .2rem solid rgba(104, 104, 104, 0.6);
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 4rem;
    width: 30svh;
    height: 5svh;
    margin: 1rem;
}

@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {

    .leave_review_body{
        background: rgb(21, 13, 0);
    }
    .matcha_name_img_container{
        padding-top: 50svh;
    }
    .submit_review_btn{
        height: 10svh;
        width: 50svh
    }

    #leave_review_img{
        height: 25svh;
    }
}

@media screen and (min-device-width: 850px){

    .review_container{
        padding-top: 15dvh;
    }
    #review_title, textarea{
        width: 75dvw;
    }
    form h3{
        font-size: 3dvh;
    }
    .btn_light:hover{

        background-color: rgba(0, 0, 0, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.078);
        color: white;
        transition: .6s ease-in-out;
    }
    #leave_review_img{
        height: 30dvh;
    }
    .submit_review_btn{
        margin-top: 5dvh;
    }
}