
.review_container{
    height: 100svh;
    color: rgba(255, 255, 255, 0.875);
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(21, 13, 0);
}
form{
    width: 100svw;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h3{
    margin-bottom: 6svh;
    text-align: center;

}
form h4{ 
    margin: 3svh 0svh;
    font-size: 1rem;
}
#review_title, textarea{
    width: 90svw;
    padding: 1svh;
}