*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: none;
}

.log_in_container, .sign_up_container{
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

.logIn_form, .signUp_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.log_in_title, .sign_up_title{
    font-size: 2rem;
}
.email_input::placeholder, .password_input::placeholder, .sign_in_first_name::placeholder, .sign_in_last_name::placeholder, .sign_in_email::placeholder,.sign_in_password::placeholder, .sign_in_confirm_password::placeholder{
    text-align: start;
    padding-left: .3rem;
}

.email_input, .password_input, .sign_in_first_name, .sign_in_last_name, .sign_in_email,.sign_in_password, .sign_in_confirm_password {
    height: 3.2rem;
    text-align: left;
    width: 17rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin: 1.5rem;
    border-radius: 1.4rem;
    box-shadow: 1px 1px 1px .5px rgba(255, 255, 255, 0.755),
    8px 100px 10px 1px rgba(38, 56, 12, 0),
    inset 5px 5px 5px rgba(0, 0, 0, 0.058);
    border-radius: 1.3rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}   input[type="email"], input[type="password"], input[type="text"]{
    padding: 1.2rem;
    font-size: 1rem; 
    text-align: center;
}

.sign_in_first_name, .sign_in_last_name, .sign_in_email,.sign_in_password, .sign_in_confirm_password{
    margin:1rem;
    height: 1rem;
}


.email_input:focus, .password_input:focus, .sign_in_first_name:focus, .sign_in_last_name:focus, .sign_in_email:focus,.sign_in_password:focus, .sign_in_confirm_password:focus{
    outline:none;
    box-shadow:
    3px 3px 5px 2px rgba(0, 0, 0, 0.055),
    5px 5px 2px 2px rgb(174, 134, 134,.030);
    color: black;
}

.sign_up_button_container, .log_in_button_container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logIn_transfer_link{
    margin-bottom: 4rem;
    margin-top: -40px;
    color: rgb(29, 113, 29);
    font-size: .8rem;
}
.register_transfer_link{
    margin-top: 1.4rem;
    font-size: .8rem;
    color: rgb(29, 113, 29);

}



.log_in_button, .sign_up_button{
    height: 5rem;
    width: 5rem;
    margin-top: 6rem;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: 5px 5px 3px 1px rgba(38, 56, 12, 0.10),
    1px 1px 5px 5px rgba(255, 255, 255, 0.755);
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(86, 86, 114);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    cursor: pointer;
}
.sign_up_button{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.matcha_logo_logIn, .matcha_logo_signUp{
    height: 10rem;
    margin-bottom: 3rem;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 5px 5px 3px 1px rgba(38, 56, 12, 0.10),
    2px 2px 5px 3px rgba(0, 0, 0, 0.200);
}
.matcha_logo_signUp{
    margin-top: 5rem;
    margin-bottom: 2rem;
    
}
/* =========================== LANDSCAPE VIEW ========================== */
@media (orientation: landscape) and (max-height: 450px) and (max-width: 844px) {
    .log_in_container,.sign_up_container{
        height: 200vh;
        width: 100vw;
    }
}

@media screen and (min-device-width: 850px){
    .matcha_logo_container{
        width: 25vw;
        display: flex;
        justify-content: center;
    }
    .matcha_logo_logIn{
        height: 17rem
    }
    .matcha_logo_signUp{
        height: 20rem;
        margin-bottom: 10rem;
    }
    .email_input, .password_input,.sign_in_first_name, .sign_in_last_name, .sign_in_email,.sign_in_password, .sign_in_confirm_password{
        margin:1rem;
        height: 3.5rem;
        width: 20rem;
    }
    .signUp_form{
        margin-top: 12rem;
        width: 25vw;
        height: 100vh;
    }
    .sign_up_container{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
    }
    .sign_up_button_container{
        margin-top: 2rem;
    }

    .log_in_button, .sign_up_button{
        height: 6rem;
        width: 6rem;
        font-size: 1.3rem;
    }

    .log_in_button:hover, .sign_up_button:hover{
        box-shadow: 5px 5px 3px 1px white,
        inset 5px 5px 5px 5px rgba(0, 0, 0, 0.043);
        color: rgb(104, 159, 85);
    }
    .logIn_transfer_link,.register_transfer_link{
        font-size: 1rem;
    }
    .logIn_transfer_link:hover,.register_transfer_link:hover{
        color: rgb(148, 204, 130);
        font-weight: 600;
    }
    
}