body{
    overflow-x: hidden;
}

.matchas_top_info_container{
    height: 50svh;
    background-color: rgb(25,25,25);
    color: rgba(255, 255, 255, 0.8);
    padding: 0rem 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matchas_top_info_container h3{
    font-size: 1rem;
    text-align: left;
}

.matchas_logo_container{
    all: unset;
    margin-left: -1rem;
    width: 100svw;
    height: 5svh;
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matchas_logo{
    border-radius: 50%;
    background: rgb(21,13,0);
    margin-top: -7rem;


    /* box-shadow: 25px 10px 2px 10px white, 
    15px 10px 2px 10px rgba(55, 55, 55, 0.434); */
}

.nav_space{
    height: 3.5rem;
    background: rgb(21, 13, 0);
}
.header_bg{
    height: 50svh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgb(25,25,25) 90%),  url(../imgs/matcha_recipes_imgs/nha-van-uFAVbEbsOIM-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: 100svw;
}


#find_matcha_quiz{
    font-size: 1rem;
    border: .2rem solid rgba(104, 104, 104, 0.6);
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 4rem;
    width: 15rem;
    height: 2.5rem;
    margin: .5rem;
}

/*  ===================== LANDSCAPE VIEW ================== */
@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {
    body{
        background-color: rgb(21, 13, 0);
    }
    #find_matcha_quiz{
        width: 30svw;
    }

    .top_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    
    }

    .matchas_top_info_container{
        width: 35svw;
        height: 110svh;
        background: black;
        display: flex;
    }

    .matchas_top_info_container h3{
        font-size: 2.5rem;
        margin-top: 3rem;
    }
    .matchas_top_info_container p {
        font-size: 1rem;
    }
    .header_bg{
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 2%, black 94%),  url(../imgs/matcha_recipes_imgs/nha-van-uFAVbEbsOIM-unsplash\ \(1\).jpg);
        height: 110svh;
        width: 65svw;
        background-size: 65svw;
        background-position: center;
    }

}

/* =================== LAPTOP VIEW ================ */
@media screen and (min-device-width: 850px){
    body{
        background-color: black;
    }
    .top_rank_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .nav_space{
        display: none;
    }
    .matchas_top_info_container{
        width: 50dvw;
        height: 60dvh;
        background: black;
        padding-left: 5rem;
        display: flex;
        align-items: self-start;
    }
    #find_matcha_quiz{
        margin-left: -.2rem;
    }

    .matchas_top_info_container h3{
        font-size: 3rem;
        font-weight: 900;

    }
    .matchas_logo_container{
        width: 100dvw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .matchas_logo{
        height: 15dvh;
        margin-top: -15dvh;
        padding: 0;
    }
    .matcha_info_block{
        margin-top: 20dvh;
    }

    .header_bg{
        height: 60dvh;
        width: 50dvw;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, black 94%),  url(../imgs/matcha_recipes_imgs/nha-van-uFAVbEbsOIM-unsplash\ \(1\).jpg);
        background-position: center;
        background-size: 50dvw 100dvh;
    }


}