.recipes_top_container{
    height: 100svh;
    width: 100svw;
    padding-top: 3.5rem;
    background: rgb(21, 13, 0);
}

.recipes_bg{
    height: 55svh;
    width: 100svw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(236, 194, 140) 90%),  url(../imgs/index_bg/pexels-roman-odintsov-5976082.jpg);
    background-size: cover;
    background-position: center;

}

.recipes_top_info_container{
    background: rgb(236, 194, 140);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40svh;
    width: 100svw;
    padding: 0rem 1.5rem 5rem;
}

.recipes_top_info_container p {
    font-size: 1rem;
}

.recipes_top_info_container h2{
    font-size: 2rem;
    font-weight: 600;
}


/* =========== LANDSCAPE VIEW ============ */
@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {
    body{
        background: rgb(21, 13, 0);
    }
    .recipes_top_container{
        display: flex;
        height: 100dvh;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .recipes_bg, .recipes_top_info_container{
        height: 100dvh;
        display: flex;
        margin: 0;
        width: 65dvw;
        padding: 1rem;
    }
    .recipes_top_info_container{
        width: 35dvw;
    }
    .recipes_bg{
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 60%, rgb(236, 194, 140) 90%),  url(../imgs/index_bg/pexels-roman-odintsov-5976082.jpg);
        background-size: cover;
        background-position: center;

    }
}

/* ============= LAPTOP VIEW ============ */

@media screen and (min-device-width: 850px){
    .recipes_top_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        height: 60dvh;
        padding: 0;
        margin: 0;

    }

    .recipes_bg,.recipes_top_info_container{
        height: 60dvh;
        width: 65dvw;
    }
    .recipes_top_info_container{
        width: 35dvw;
        display: flex;
        margin: 0;
        padding: 0rem 0rem 0rem 5rem ;
        justify-content: center;
    }

    .recipes_top_info_container h2{
        font-size: 2.5rem;
    }
    .recipes_top_info_container p{
        font-size: 1.2rem;
    }

    .recipes_bg{
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 30%, rgb(236, 194, 140) 95%),  url(../imgs/index_bg/pexels-roman-odintsov-5976082.jpg);
        background-size: cover;
        background-position: center;
    }



}