*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.shopping_bag_container{
    overflow-x: hidden;
    color: rgba(219, 217, 217, 0.895);
    padding-top: 15svh;
    padding-bottom: 10svh;
    height: auto;
    width: 100svw;
    background:  rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.shopping_bag_block_header{
    text-align: center;
}

#table{
    background-color: rgb(25, 25, 25);
    margin-top: 5svh;
    padding-top: 10rem;
}

.tr_header_SB th{
    text-align: center;
    width: 30svw;
}

#product_td_SB{
    text-align: center;
    
}


.product_section_SB{
    display: flex;
    flex-direction: column;
    width: 30svw;
    padding: 2svh 0 0;
    justify-content: center;
    align-items: center;
}

.item_name_container_SB a {
    text-decoration: none;
    font-size: 1.8svh;
    color: rgba(219, 217, 217, 0.6);
    font-weight: 600;
}

.left_section_SB, .right_section_SB{
    text-align: center;
    width: 30svw;
}

.left_section_SB{
    width: 35svw;
    display: flex;
    justify-content: center;
}

.bag_counter{
    padding: 2svh;
    width: 30svw;
}

.bag_count_SB,.bag_minus_SB,.bag_plus_SB{
    padding-bottom: .2rem;
    margin: 2svw;

}

.product_section_SB img{
    height: 3rem;
    margin-bottom: 1rem;
}
.total_price_container{
    width: 100svw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_price, .total{
    width: 34svw;
    margin-top: 2svh;
    text-align: center;
    
}

@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {
    body{
        background: rgb(21, 13, 0);
    }

    .shopping_bag_container{
        padding-top: 25dvh;
    }
}

@media screen and (min-device-width: 850px){
    .product_section_SB img{
        height: 12dvh;
    }

    .product_section_SB{
        width: 33dvw;
        padding: 4dvh 0 0;
    }

    .left_section_SB, .right_section_SB{
        width: 33dvw;
    }


}