@media screen and (min-device-width: 850px){
    .nav{
        position: relative;
        width: 100svw;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        top: 1.8rem;
        border: none;
    }
    .special_announcement_bar{
        display: flex;
        position: absolute;
    }


    .nav_block{
        position: relative;
        font-size: .9rem;
        border: none;
        translate: none;
        height: 3.4rem;
        width: 50vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin-top: 0rem;
        margin-left: 0rem;
    }
    .nav_block a{
        font-size: 1rem;
    }
    .nav_block a:hover{
        color: white;
        padding-top: 0.2rem;
        transition: .4s ease-in-out;
        border-top: 3px solid rgba(255, 255, 255, 0.2);
    }

    .nav_account_section{
        width: 11svw;
        font-size: .9rem;
        justify-content: space-around;
    }

    .nav_toggle_label, .menu_title{
        display: none;
    }
    .home_matcha_logo{
        display: none;
    }
    .home_matcha_logo_laptop{
        display: block;
        margin-top:.6rem;
        align-items: center;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        border: 3px solid rgb(112, 95, 95);
        padding: .2rem;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
        1px 1px 1px 14px rgb(17, 11, 1);
    }

    .bag_container{
        top: 7dvh
    }

    /* ================================================================= */
    
    /* ============================= SLIDE AREA ================================= */
    .slide_info {
        width: 100svw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }
    .main_slide{
        flex-direction: column;
    }

    .slide{
        margin-top: 0rem;
    }

    .slide_item_description_main{
        margin: 0rem 0rem -5rem;
        font-size: 1.5rem;
    }
    .matcha_name_main{
        font-size: 6rem;
    }
    .slide_show_container, .slide_imgs_container, .slide img, .slide_info,.slide_show_arrows{
        height: 60svh;
        width: 100svw;
    }

    .special_announcement_bar, .help_container,.about_container, .about_container_footer,.top_rank_container, .top_rank_container_footer,.matcha_recipes_container, .recipe_footer, .footer_container{
        width: 100svw;
    }

    .description_container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .slide_img_container{
        height: 60svh;
        width: 25svw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 4;
    }
    

    .slide_img_container img{
        display:block;
        height: 12rem;
        width: 12rem;
        position: relative;
    }
    .matcha_item_shadow, .matcha_item_shadow_circ, .matcha_item_shadow_bag{
        display: block;
        height: 2rem;
        border-radius: 10%;
        width: 9rem;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.8);
    }

    .matcha_item_shadow_circ{
        border-radius: 50%;
    }
    .matcha_item_shadow_bag{
        border-radius: 15%;
        width: 10rem;
        margin-top: .8rem;
    }

    #sayaka_img{
        height: 16rem;
    }


    .slide_imgs_container{
        background: linear-gradient(to left, black, rgba(255, 255, 255, 0.218));
    }

     /* ================================================================= */

     /* ============================HELP CONTAINER AREA ========================= */

    .help_container{
        height: 65svh;
        flex-direction: row;
        padding: 0rem 6.5rem;
        align-items: center;
        justify-content: space-around;
    }

    .start_quiz_block{
        height: 20rem;
        width: 28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    .help_matcha_img{
        height: 21rem;
        margin: 0;
        padding: 0;
    }

     /* ================================================================= */
      /* ========================== ABOUT CONTAINER AREA ============================= */
    .about_container{
        height: 55svh;
        padding: 0rem 20rem;
    }

    .about_btn_container{
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-around;
        width: 35rem;
    }

      /* ================================================================= */
        /* ===========================TOP RANK AREA ================================== */
    .top_rank_items_main_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .top_rank_first_row,.top_rank_second_row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 60rem;
        height: 14rem;
    }

    .top_rank_item_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 14rem;
        width: 20rem;
    }

    .top_rank_imgs{
        height: 8rem;
    }

    .top_rank_container_footer{
        border-radius: 0;
    }

  /* ================================================================= */
    /* ======================= FEATURED RECIPES AREA ============================ */
    .matcha_recipes_container{
        height: 75svh;
        padding: 1rem 2rem 4rem;
    }
    .matcha_recipes_block_container{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .matcha_recipe_block{
        height:25rem;
        width: 30rem;
    }

    .matcha_recipes_container_img{
        width: 25rem;
    }

    .recipe_footer{
        border-radius: 0;
        height: 0rem;
    }
    /* ================================================================= */
     /* ====================== FOOTER CONTAINER AREA ========================== */
    .footer_container{
        flex-direction: row-reverse;
        height: 60svh;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(to bottom, rgb(21, 13, 0), rgb(30, 19, 0));
    }
    .footer_matcha_logo_container{
        display: none;
    }
    .footer_matcha_logo_laptop{
        display: block;
        height: 10rem;
        margin: 1rem 0rem 4rem;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
        3px 3px 3px 5px rgb(0, 0, 0);
        border: .4rem solid rgba(255, 255, 255, 0.272);
        padding: .4rem;
        border-radius: 50%;
    }

    .account_and_guide_container{
        margin-top: -3rem;
    }

    .bottom_container{
        margin-top: 0;
        background: rgb(30, 19, 0);
    }

     /* ================================================================= */
}