* , *::before, *::after{
    margin: 0;
    padding: 0;
    font-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
*:not(.stars, .stars_rate){
    word-spacing: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html,.home_container{
    background:rgb(21, 13, 0);
    overflow-x: hidden;
}

.title{
    font-size: 2.4rem;
}

/* ====================== TOGGLE ANIMATION ======================== */

.menu_title{
    position: absolute;
    top: 2.2rem;
    left: 1rem;
    font-size: .8rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
}
.nav_toggle_label::before,
.nav_toggle_label::after,
.nav_toggle_label input{
    content: "";
    width: 2.5rem;
    border-radius: 5px;
    transform-origin: left;
    height: 3px;
    background-color: rgb(183, 223, 158);
    transition: opacity 200ms ease-in-out;
}


.nav_toggle_label{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: absolute;
    top: .7rem;
    left: .8rem;
    z-index: 2;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.nav_toggle_label input{
    appearance: none;
    padding: 0;
    pointer-events: none;
    margin: 0;
    outline: none;
    transition: 400ms ease-in-out;
}

.nav_toggle_label:has(input:checked)::before {
    transition: 200ms ease-in-out;
    rotate: 45deg;
    width: 1.8rem;
    height: 5px;
    margin-left: .6rem;
}
.nav_toggle_label:has(input:checked)::after {
    transition: 200ms ease-in-out;
    rotate: -45deg;
    width: 1.8rem;
    height: 5px;
    margin-left: .6rem;

}

.nav_toggle_label input:checked {
    opacity: 0;
    width: 0;
}


.nav_block{
    transition: 200ms ease-in-out;
    width: 12rem;
    position: absolute;
    translate: -100%;
    padding: 6rem 0rem 10rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.171);
    height: 100dvh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(21, 13, 0);
}


.nav_toggle_label:has(input:checked) + .nav_block{
    translate: 0;
}

/* ================================================================= */
/*  ========== BAG BLOCK WINDOW ============*/

details img{
    height: 3rem;
}

details[open] > .bag_details{
    width: 100svw;
}

.bag_container{
    z-index: -10;
    border-bottom: 2px solid rgba(219, 217, 217, 0.3);
    color:rgba(219, 217, 217, 0.98) ;
    display: flex;
    background: rgb(21, 13, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 3.5rem;
    top: 0rem;
    right: 0rem;
    width: 100svw;
    height: 30svh;
    padding: 1rem;
}
summary{
    list-style-type: none;
}
summary::-webkit-details-marker{
    display: none;
}

.item_block{
    display: flex;
    width: 100svw;
    margin-bottom: 2rem;
    border: 2px solid red;
    justify-content: space-between;
    border-bottom: 2px solid rgba(219, 217, 217, 0.09);
}

.bag_block_header{
    margin: 1.5rem;
}
.right_column{
    width: 60svw;
    padding: 0rem 1rem;
    display: flex;
    justify-content:space-around;

}

.left_column{
    width: 38svw;
}

.right_section, .left_section{
    width: 20svw;
    height: 10svh;
    margin-bottom: 1rem;
    display: flex;
    padding: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_section{
    display: flex;
    align-items: center;
    height: 10svh;
    justify-content: center;

}

.item_name_container{
    display: flex ;
    flex-direction: column;
    margin: 2rem 0rem .7rem;
    align-items: center;
}

.right_column{
    display: flex;
}

/* .left_section, .right_section{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* ========= COUNTER ========== */
.bag_counter{
    border: 2px solid white;
    border-radius: 5rem;
    height: 2.1rem;
    width: 30svw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input:focus{
    outline: 0;
    appearance: none;
}
#bag_count{
    width: 5svw;
}
#bag_count, #bag_plus, #bag_minus{
    background:none;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

/* ============================== */

/* ================================================================= */
/* ============================== NAV ================================ */
.nav_account_section{
    width: 8rem;
    height: 3.5rem;
    font-size: .9rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_account_section a, .nav_account_section{
    color: rgba(219, 217, 217, 0.6);
    text-decoration: none;
}

.account_section_icons{
    color: rgba(219, 217, 217, 0.3);
}

.nav_account_section a, #bag_summary{
    font-weight: 600;
    transition: .5s ease-in-out;
}
.nav_account_section a:hover, #bag_summary:hover{
    color: white;
    transition: .2s ease-in-out;
}

.nav{
    position: fixed;
    top: 1.8rem;
    height: 3.5rem;
    width: 100svw;
    z-index: 10;
    margin-bottom: 5rem;
    background-color: rgb(21, 13, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
}

.special_announcement_bar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 19, 0);
    width: 100svw;
    font-size: .8rem;
    text-align: center;
    height: 1.8rem;
    z-index: 11;
}

.special_msg:hover{
    animation: cup_anim 4s linear infinite;
}

.special_msg_cup{
    color: rgb(183, 223, 158);
    margin: 1rem;
    animation: cup_anim 4s linear ;
}


@keyframes cup_anim {
    0%{color: rgb(183, 223, 158);}
    15%{color: black;}
    30%{color: rgb(183, 223, 158);}
    45%{color: black;}
    60%{color: rgb(183, 223, 158);}
    75%{color: black;}
    100%{color: rgb(183, 223, 158);}
}

.special_msg{
    text-decoration: none;
    color: rgba(219, 217, 217, 0.895);
}

.nav_block a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(219, 217, 217, 0.6);
    text-decoration: none;
    font-size: 1.2rem;
    height: 2rem;
    padding-top: 0rem;
    width: 6rem;
    border-top: 1px solid rgba(255, 255, 255, 0);
    text-align: center;
    transition: .2s ease-in-out;
}


.home_matcha_logo_laptop{
    display: none;
}
.home_matcha_logo{
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
    3px 3px 3px 5px rgb(0, 0, 0);
    border: .4rem solid rgba(255, 255, 255, 0.272);
    padding: .4rem;
}

#home_matcha_logo{
    margin-top: 2rem;
    padding-bottom: 3rem;
}
/* ================================================================= */

/* ======================== SLIDESHOW AREA =============================== */
.slide_show_container{
    height: 100svh;
    width: 100svw;
}

.slide_imgs_container{
    position: absolute;
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: row;
}
.slide{
    object-fit: cover;;
    height: 100svh;
    width: 100svw;
    /* scroll-snap-align: start; */
}


.slide img{
    position:absolute;
    height: 100svh;
    z-index: 3;
    width: 100svw;
    object-fit: cover;
}

.matcha_item_shadow,
.slide_info img{
    display: none;
}


.slide_info{
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100svw;
    margin-top: 0rem;
    padding: 1rem;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.650) 40%, rgba(0,0,0,0.5));
    font-size: 2rem;
    padding-top: 10rem;
    color: rgba(219, 217, 217, 0.950);
    position: absolute;
    z-index: 3;
}

.slide_add_to_bag_btn, .slide_view_item_btn, .slide_shop_now_btn{
    font-size: 1rem;
    border: .2rem solid rgba(104, 104, 104, 0.6);
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 4rem;
    width: 15rem;
    height: 2.5rem;
    margin: .5rem;
}

.slide_view_item_btn{
    background-color: rgba(65, 65, 65, 0.5);
    color: rgba(219, 217, 217, 0.950);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.items_name{
    font-size: 2rem;
    margin: -1rem 0rem 1rem;
}

.slide_item_description{
    font-size: 1rem;
    color: rgba(219, 217, 217, 0.695);
}

.description_container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*  -========================= MAIN SLIDE ======================= */
.slide_item_description_main{
    font-size: 1.2rem;
    margin-top: -10rem;

}
.matcha_name_main{
    font-size: 4rem;
    text-align: center;
    margin: 8rem 0rem 2rem;
    color: rgb(183, 223, 158);
}

.slide_shop_now_btn{
    margin-top: 1rem;
}

/* =========================================================== */

.fade_in{
    animation: fade_in .6s linear;
}

@keyframes fade_in {
    0%{opacity: 0%; padding: .1rem;}
    100%{opacity: 100%;}
    
}

.slide_show_arrows{
    display: flex;
    position: absolute;
    width: 100svw;
    height: 100svh;
    padding: 1rem;
    justify-content: space-between;
}

.right_arrow, .left_arrow{
    align-items: center;
    background: none;
    z-index: 5;
    font-size: 2.4rem;
    border: none;
    color: rgba(255, 255, 255, 0.7);
}

/* ================================================================= */
/* ========================= HELP AREA ================================= */
.help_container{
    display: flex;
    background-color: rgb(21, 13, 0);
    flex-direction: column;
    padding: 2rem 1rem;
    height: 95svh;
    width: 100svw;
    color: rgba(219, 217, 217, 0.895);
}
.quiz_btn_container{
    text-align: center;
}


.help_title{
    padding: 1rem 0rem;
}

.help_start_quiz_btn{
    border: .2rem solid rgba(104, 104, 104, 0.455);
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 4rem;
    height: 3rem;
    width: 14rem;
    margin-top: .8rem;
}

.bi-cup{
    margin-right: .4rem;
}

.help_matcha_img{
    margin-top: 2.5rem;
    border-radius: .5rem;

}

/* ================================================================= */
/* ========================= ABOUT AREA ============================ */
.about_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: rgba(219, 217, 217, 0.895);
    height: 75svh;
    width: 100svw;
    background:  rgb(25, 25, 25);
    
}

.about_logo_container{
    display: flex;
    position: relative;
    top: -3.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4rem solid  rgb(25, 25, 25);
    height: 0rem;
    width: 1rem;
}
.about_logo{
    position: relative;
    top: -0.8rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit:cover;
}

.about_container_title{
    text-align: center;
    margin: -1rem 0rem 1.4rem;
}

.about_container_paragraph{
    text-align: center;
}

.about_btn_container{
    display: flex;
    flex-direction: column;
}
.about_btn_container button{
    margin: 1rem 0rem 0rem;
    height: 3rem;
    width: 15rem;
    border-radius: 5rem;
}

.more_about_us_btn{
    border: 1px solid white;
    background: none;
    color: rgba(219, 217, 217, 0.895)
    ;
}

/* .about_container_footer{
    height: 15rem;
    width: 101vw;
    border-radius: 0rem 0rem 0rem 5rem;
    background:  rgb(25, 25, 25);

} */
/* ================================================================= */
/* ===========================TOP RANK AREA =============================== */

.top_rank_container{
    height: auto;
    width: 100svw;
    background: rgb(21, 13, 0);
    color: rgba(219, 217, 217, 0.895);
    display: flex ;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem 4rem;
}

.top_rank_container_title{
    margin: 1rem 0rem 3.5rem;
}

.top_rank_items_main_container{
    display: flex;
    justify-content:center;
}

.top_rank_item_container{
    height: 18rem;
    padding: .5rem ;
}

.top_rank_imgs{
    height: 6rem;
    object-fit: cover;
    margin-bottom: 1rem;
}


.top_rank_title{
    margin-bottom: 0rem;
}
.top_rank_subtitle{
    color: rgba(219, 217, 217, 0.595);
    margin-bottom: 0rem;
}

.add_to_bag_btn{
    font-size: .8rem;
    border-radius: 5rem;
    padding: 0.3rem ;
    height: 2rem;
    width: 7rem;
}

.add_to_bag_icon{
    height: .8rem;
    margin-bottom: .2rem;
}

/* ================================================================= */

/* ====================== MATCHA RECIPES AREA ================================== */
.matcha_recipes_container{
    height: 200svh;
    width: 100svw;
    background:  rgb(25, 25, 25);
    padding: 1rem;
    color: rgba(219, 217, 217, 0.895);
    display: flex;
    flex-direction: column;
    text-align: center;

}

.matcha_recipes_block_container{
    display: flex;
    flex-direction: column;
}

.matcha_recipes_title{
    margin: 3rem 0rem 0rem;
}
.matcha_recipes_browse{
    margin:0;
    text-decoration: none;
    color: rgba(219, 217, 217, 0.895);
}

.item_type{
    color: rgba(219, 217, 217, 0.5);
    
}

.matcha_recipe_block{
    height: 20rem;
    margin: 3rem 0rem;
}
.matcha_recipe_block h3,.item_type, .matcha_recipe_block p{
    text-align: left;
    margin-left: 1rem;
    
}
.matcha_recipe_block p{
    font-size: 1rem;
}

.matcha_recipe_name{
    font-weight: 900;
    font-size: 1.7rem;
}

.matcha_recipes_container_img{
    height: 14rem;
    border-radius: .5rem;
    object-fit: cover;
    width: 20rem;
    margin-bottom: 2rem;
}



/* ================================================================= */
/* ====================== FOOTER AREA ============================== */
.footer_container{
    height: 100svh;
    width: 100svw;
    background: rgb(21, 13, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 1rem;
}

.footer_matcha_logo{
    height: 8rem;
}

.account_and_guide_container{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    padding: 0rem .5rem 2rem;
}

.account_col, .guide_col{
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    color: rgba(219, 217, 217, 0.895);
    text-align: center;
}
.account_col a, .guide_col a{
    text-align: center;
    text-decoration: none;
    color: rgba(219, 217, 217, 0.895);
}

.account_col_title, .guide_col_title{
    font-weight: 900;
    font-size: 1.1rem;

}

.footer_matcha_logo_container{
    display: flex;
    justify-content: center;
}

.footer_matcha_logo{
    height: 10rem;
    margin: 1rem 0rem 3rem;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
    3px 3px 3px 5px rgb(0, 0, 0);
    border: .4rem solid rgba(255, 255, 255, 0.272);
    padding: .4rem;
    border-radius: 50%;
}

.footer_matcha_logo_laptop{
    display: none;
}

/* ======================= PAYMENT METHOD AREA ================================ */

.payment_method_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.payment_method{
    height: 2rem;
    margin: .2rem;
    width: 3.7rem;
    border-radius: 10%;
    object-fit: cover;
    padding: .2rem;
    background-color: white;
}
/* ================================================================= */
/* ==========================  BOTTOM AREA ================================= */

.bottom_container{
    text-align: center;
    background:rgb(21, 13, 0);
    color: rgba(219, 217, 217, 0.495);
    padding: 2rem 0rem 1rem;
    margin-top: 0rem;
    height: 6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom_container p {
    margin: -.2rem;
    font-weight: 100;
    font-size: .9rem;
}

/* ================================================================= */



