* , *::before, *::after{
    margin: 0;
    padding: 0;
    font-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:sans-serif
}


.home_container{
    background-color: rgb(31, 31, 31);
}

/* ====================== TOGGLE ANIMATION ======================== */

.menu_title{
    position: absolute;
    top: 2.2rem;
    left: 1rem;
    font-size: .8rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
}
.nav_toggle_label::before,
.nav_toggle_label::after,
.nav_toggle_label input{
    content: "";
    width: 2.5rem;
    border-radius: 5px;
    transform-origin: left;
    height: 3px;
    background-color: rgb(183, 223, 158);
    transition: opacity 200ms ease-in-out;
}


.nav_toggle_label{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: absolute;
    top: .7rem;
    left: .8rem;
    z-index: 2;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.nav_toggle_label input{
    appearance: none;
    padding: 0;
    pointer-events: none;
    margin: 0;
    outline: none;
    transition: 400ms ease-in-out;
}

.nav_toggle_label:has(input:checked)::before {
    transition: 200ms ease-in-out;
    rotate: 45deg;
    width: 1.8rem;
    height: 5px;
    margin-left: .6rem;
}
.nav_toggle_label:has(input:checked)::after {
    transition: 200ms ease-in-out;
    rotate: -45deg;
    width: 1.8rem;
    height: 5px;
    margin-left: .6rem;

}

.nav_toggle_label input:checked {
    opacity: 0;
    width: 0;
}


.nav_block{
    transition: 200ms ease-in-out;
    width: 12rem;
    translate: -100%;
    padding: 5rem;
    height: 100vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(25, 16, 1);
}

.home_matcha_logo{
    margin-top: -20px;
}


.nav_toggle_label:has(input:checked) + aside{
    translate: 0;
}
/* ================================================================= */
/* ============================== NAV ================================ */
.nav_account_section{
    width: 8rem;
    height: 3.5rem;
    font-size: .8rem;
    text-align: center;
    margin-right: .5rem;
    margin-top: .1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_account_section a{
    color: rgba(219, 217, 217, 0.495);
    text-decoration: none;
}

.nav_account_section a:hover{
    color: white;
}

.nav{
    position: fixed;
    height: 3.5rem;
    width: 100vw;
    z-index: 4;
    margin-bottom: 5rem;
    background-color: rgb(25, 16, 1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
}

.nav_block a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.nav_block a:hover{
    color: white;

}

.nav_block img{
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
    3px 3px 3px 5px rgb(0, 0, 0);
    border: .4rem solid rgba(255, 255, 255, 0.272);
    padding: .4rem;
    
}
/* ================================================================= */

/* ======================== SLIDESHOW AREA =============================== */
.slide_show_area{
    margin-top: 3.5rem;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.slide_show_arrows{
    display: flex;
    width: 100vw;
    padding: 2rem;
    height: 90vh;
    position: absolute;
    justify-content: space-between;
}

.right_arrow, .left_arrow{
    align-items: center;
    background: none;
    font-size: 2rem;
    border: none;

    color: rgba(255, 255, 255, 0.402);
    


}

/* ================================================================= */

