@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {

    * , *::before, *::after{
        margin: 0;
        padding: 0;
        font-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
/* ======================== NO TOGGLE NAV ========================= */
    .home_matcha_logo{
    height: 5rem;
    border: 3px solid rgba(255, 255, 255, 0.258); 
    width: 5rem;
    padding: .4rem;
}
    .nav_block{
        padding: 3rem 0rem 1rem;
        width: 30vw;

    }
/* ========================================================================= */
/* ======================== SLIDE IMGS ========================= */
    .slide_show_area, .slide_imgs, .slide, .slide img{
        width: 101vw;
        height: 100vh;
        object-fit: cover;
    }
    .slide_item_description_main{
        margin-top: 3rem;
    }

    .matcha_name_main{
        margin: .3rem;
    }
 /* ============================================================ */
 /* ======================== HELP/ QUIZ AREA ========================= */
    .help_container{
        height: 100vh;
        width: 101vw;
        padding: 1rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .start_quiz_block{
        width: 45%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .help_matcha_img{
        display: flex;
        height: 14rem;
        margin: 0;
        border-radius: 2rem;
        align-items: center;
        width: 45%;
        object-fit: cover;

    }

    .help_start_quiz_btn{
        width: 14rem;
    }
    /* ============================================================== */

    /* ====================== ABOUT AREA =========================== */
    .about_container{
        height: 60vh;
        margin: 0;
    }
    /* ============================================================== */

    /* ======================== TOP RANK AREA ============================== */
    .top_rank_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_rank_items_main_container{
        width: 90vw;
    }
    .top_rank_first_row, .top_rank_second_row{
        width: 23rem;
    }

    .top_rank_item_container{
        display: flex;
        justify-content: space-around;
        margin: .5rem;
        height: 10rem;
        width: 18rem;
    }

    .top_rank_item_info_section{
        text-align: left;
        height: 6rem;
        width:  10rem;
        padding: .2rem;
        margin-bottom: .4rem;
    }

    .top_rank_imgs{
        height: 8rem;
        width: 8rem;
    }

    .top_rank_title{
        font-size: 1.2rem;
        margin-top: .2rem;
        font-weight: 600;
    }

    .add_to_bag_btn{
        margin-top: -1rem;
        padding: .2rem;
    }
    /* ============================================================== */
    /* =================== MATCHA RECIPES AREA ============================== */

    .matcha_recipes_container{
        height: 130vh;
        justify-content: center;
        align-items: center;
    }

    .matcha_recipes_block_container{
        margin-bottom: -10rem;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
    }

    .matcha_recipe_block{
        padding: .3rem;
        width: 33%;
    }

    .matcha_recipes_container_img{
        width: 12rem;
        height: 13rem;
    }

    .matcha_recipes_title{
        margin-top: -10rem;
    }

    .matcha_recipes_browse{
        margin-bottom: -1rem;
    }


    /* ============================================================== */

    /* ============================== FOOTER AREA ================================== */
    .footer_container{
        margin-top: 7rem;
        height: 100vh;
        padding: 0;
    }

    .account_and_guide_container{
        width: 101vw;
        justify-content: space-evenly;
    }

    .bottom_container{
        margin-top: 7rem;
    }

/* ============================================================== */
}