*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_index_page{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.050), rgba(0, 0, 0, 0.5)), url(../imgs/index_bg/pexels-darina-belonogova-8004570.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

.index_page_title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.matcha_logo{
    margin-top: -85px;
    height:16rem;
    width: 16rem;
    object-fit: cover;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 5px 5px 3px 1px rgba(38, 56, 12, 0.10),
    2px 2px 5px 3px rgba(0, 0, 0, 0.200);

}

.logIn_or_signUp{
    display: flex;
    justify-content: space-around;
    height: 10rem;
    align-items: center;
    width: 20rem;
}

.logIn_link, .signUp_link{
    height: 3rem;
    width: 7rem;
    margin-top: 14rem;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 5px 5px 3px 1px rgba(38, 56, 12, 0.10),
    2px 2px 1px 1px rgba(255, 255, 255, 0.200);
    border: none;
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.100);
    color: white;
    text-shadow: 1px 0px 1px rgb(163, 162, 162);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.main_title{
    display: none;
}

/* ============================= LANDSCAPE VIEW ================================= */
                             /* +++++++++++++++++ */
@media (orientation: landscape) and (max-height: 450px) and (max-width: 844px) {
    .container_index_page{
        flex-direction: row;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/index_bg/pexels-eva-bronzini-6833704.jpg);
        background-position: 30%;
        background-size: cover;


        
    }
    .matcha_logo{
        margin-top: 2rem;
        box-shadow: 5px 5px 3px 1px rgba(255, 255, 255, 0.1),
    2px 2px 5px 3px rgba(255, 255, 255, 0.2);


    }

    .logIn_or_signUp{
        all: unset;
        display: flex;
        height: 100vh;
        width: 18rem;
        align-items: center;
        justify-content: space-between;
    }
    .logIn_link,.signUp_link{
        background: none;
        backdrop-filter: none;
        box-shadow: none;
        margin-bottom: 1rem;
    }
}
/* ===================== LAPTOP VIEW ======================= */
@media screen and (min-device-width: 850px){
    .container_index_page{
        all: unset;
        height: 100vh;
        width: 100vw;
    }
    body{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.800)), url(../imgs/index_bg/clay-banks-Q3DaZ8vmBAA-unsplash.jpg);
        background-position: center;
        background-size: cover;
        display:flex ;
    }
    .logIn_or_signUp{
        width: 98vw;
        justify-content: right;
        height: 12vh;
        z-index: 2;
    }
    .matcha_logo{
        height: 4rem;
        width: 4rem;
        padding: .3rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        z-index: 3;
    }
    .logIn_link, .signUp_link{
        background: none;
        margin-top: 1rem;
        margin-right: 0rem;
        backdrop-filter: none;
        box-shadow: none;
        font-size: 1.2rem;
        color: rgba(255, 255, 255);
        cursor: pointer;
    }
    .logIn_link:hover, .signUp_link:hover {
        animation: nav_links_hover .8s linear infinite;
    }
    .main_title{
        display: block;
        height: 100vh;
        color: white;
        text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.397);
        font-size: 6rem;
        font-family: 'BertSansRegular';
        font-weight: normal;
        font-weight: 900;
        font-style: normal;
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;
        align-items: top;
        transition: 2s ease-in-out;
    }
    .main_title_anim{
        color: rgb(170, 209, 145);
        transition: 1.5s ease-in-out;
        text-shadow: 1px 1px 1px rgb(170, 209, 145);
    }

    @keyframes nav_links_hover {
        0%{color: rgb(170, 209, 145);}
        50%{color: rgb(255, 255, 255);}
        100%{color: rgb(170, 209, 145);}
        
    }
}