* , *::before, *::after{
    margin: 0;
    padding: 0;
    font-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.home_container{
    background: black;
}
.title{
    font-size: 2.4rem;
}

/* ====================== TOGGLE ANIMATION ======================== */

.menu_title{
    position: absolute;
    top: 2.2rem;
    left: 1rem;
    font-size: .8rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
}
.nav_toggle_label::before,
.nav_toggle_label::after,
.nav_toggle_label input{
    content: "";
    width: 2.5rem;
    border-radius: 5px;
    transform-origin: left;
    height: 3px;
    background-color: rgb(183, 223, 158);
    transition: opacity 200ms ease-in-out;
}


.nav_toggle_label{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: absolute;
    top: .7rem;
    left: .8rem;
    z-index: 2;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.nav_toggle_label input{
    appearance: none;
    padding: 0;
    pointer-events: none;
    margin: 0;
    outline: none;
    transition: 400ms ease-in-out;
}

.nav_toggle_label:has(input:checked)::before {
    transition: 200ms ease-in-out;
    rotate: 45deg;
    width: 1.8rem;
    height: 5px;
    margin-left: .6rem;
}
.nav_toggle_label:has(input:checked)::after {
    transition: 200ms ease-in-out;
    rotate: -45deg;
    width: 1.8rem;
    height: 5px;
    margin-left: .6rem;

}

.nav_toggle_label input:checked {
    opacity: 0;
    width: 0;
}


.nav_block{
    transition: 200ms ease-in-out;
    width: 12rem;
    translate: -100%;
    padding: 5rem;
    height: 100vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(25, 16, 1);
}

.home_matcha_logo{
    margin-top: -20px;
}


.nav_toggle_label:has(input:checked) + aside{
    translate: 0;
}
/* ================================================================= */
/* ============================== NAV ================================ */
.nav_account_section{
    width: 8rem;
    height: 3.5rem;
    font-size: .8rem;
    text-align: center;
    margin-right: .5rem;
    margin-top: .1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_account_section a{
    color: rgba(219, 217, 217, 0.495);
    text-decoration: none;
}


.nav_account_section a:hover{
    color: white;
}

.nav{
    position: fixed;
    height: 3.5rem;
    width: 100vw;
    z-index: 4;
    margin-bottom: 5rem;
    background-color: rgb(25, 16, 1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
}

.nav_block a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.nav_block a:hover{
    color: white;

}

.nav_block img{
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
    3px 3px 3px 5px rgb(0, 0, 0);
    border: .4rem solid rgba(255, 255, 255, 0.272);
    padding: .4rem;
    
}
/* ================================================================= */

/* ======================== SLIDESHOW AREA =============================== */
.slide_show_area{
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.slide_imgs{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 2;
    flex-direction: row;
    scroll-snap-type: both mandatory;
    overflow-y: hidden;
    overflow-x: auto;
}
.slide{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}


.slide img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}



.fade_in{
    animation: fade_in .6s linear;
    transform-origin: center;
}

@keyframes fade_in {
    0%{opacity: 0%}
    100%{opacity: 100%;}
    
}


.slide_show_arrows{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    justify-content: space-between;
}

.right_arrow, .left_arrow{
    align-items: center;
    background: none;
    z-index: 5;
    font-size: 2rem;
    border: none;
    color: rgba(255, 255, 255, 0.402);
}

/* ================================================================= */
/* ========================= HELP AREA ================================= */
.help_container{
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 4rem;
    height: 100vh;
    width: 100vw;
    color: rgba(219, 217, 217, 0.895)
}

.help_title{
    padding: 1rem 0rem;
}

.help_start_quiz_btn{
    border: .2rem solid rgba(104, 104, 104, 0.455);
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 4rem;
    height: 3rem;
    margin-top: .8rem;
    text-align: center;
}

.bi-cup{
    margin-right: .4rem;
}

.help_matcha_img{
    margin-top: 2.5rem;

}

/* ================================================================= */
/* ========================= ABOUT AREA ============================ */
.about_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: rgba(219, 217, 217, 0.895);
    height: 50vh;
    width: 100vw;
    background: rgb(31, 31, 31);
    
}

.about_logo_container{
    display: flex;
    position: relative;
    top: -5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4rem solid rgb(31, 31, 31);
    height: 1rem;
    width: 8.5rem;
}
.about_logo{
    position: relative;
    top: 0rem;
    border: 1.2rem solid rgb(31, 31, 31);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit:cover;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
    3px 3px 3px 4px rgb(0, 0, 0);
    border: .4rem solid rgba(255, 255, 255, 0.272);
    padding: .4rem;
}

.about_container_title{
    text-align: center;
    margin: -1rem 0rem 1.4rem;
}

.about_container_paragraph{
    text-align: center;
}

.about_btn_container{
    display: flex;
    flex-direction: column;
}
.about_btn_container button{
    margin: 1rem 0rem 0rem;
    height: 3rem;
    width: 15rem;
    border-radius: 5rem;
}

.more_about_us_btn{
    border: 1px solid white;
    background: none;
    color: rgba(219, 217, 217, 0.895)
    ;
}

.about_container_footer{
    height: 15rem;
    border-radius: 0rem 0rem 0rem 5rem;
    background: rgb(31, 31, 31);

}
/* ================================================================= */
/* ===========================TOP RANK AREA =============================== */

.top_rank_container{
    height: auto;
    width: 100vw;
    background: black;
    color: rgba(219, 217, 217, 0.895);
    display: flex ;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem 4rem;
}

.top_rank_container_title{
    margin: 1rem 0rem 3.5rem;
}

.top_rank_items_main_container{
    display: flex;
    justify-content:center;
}

.top_rank_item_container{
    height: 18rem;
    padding: .5rem ;
}

.top_rank_imgs{
    height: 6rem;
    object-fit: cover;
    margin-bottom: 1rem;
}


.top_rank_title{
    margin-bottom: 0rem;
}
.top_rank_subtitle{
    color: rgba(219, 217, 217, 0.595);
    margin-bottom: 0rem;
}

.add_to_bag_btn{
    font-size: .8rem;
    border-radius: 5rem;
    padding: 0.3rem ;
    height: 2rem;
    width: 7rem;
}

.add_to_bag_icon{
    height: .8rem;
    margin-bottom: .2rem;
}

.top_rank_container_footer{
    height: 15rem;
    background: rgb(31, 31, 31);
    border-radius:0rem 5rem 0rem 0rem
}

/* ================================================================= */

/* ====================== MATCHA RECIPES AREA ================================== */
.matcha_recipes_container{
    height: 200vh;
    width: 100vw;
    margin-top: -12rem;
    background: rgb(31, 31, 31);
    padding: 1rem;
    color: rgba(219, 217, 217, 0.895);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

}

.matcha_recipes_title{
    margin: -1.5rem 0rem -5.5rem;
}
.matcha_recipes_browse{
    margin-bottom: -5rem;
    text-decoration: none;
    color: rgba(219, 217, 217, 0.895);
}

.matcha_recipe_block{
    height: 20rem;
    margin: .2rem 0rem;

}

.matcha_recipes_container_img{
    height: 14rem;
    border-radius: 2rem;
    object-fit: cover;
    width: 20rem;
    margin-bottom: 1.2rem;
}



/* ================================================================= */

