@media (orientation: landscape) and (max-height: 450px) and (max-width: 932px) {

    * , *::before, *::after{
        margin: 0;
        padding: 0;
        font-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* html,.home_container,.footer_container, body{
        background:rgb(75, 171, 15);
    } */
    /* ======================= BAG COUNTER =================== */
    details[open] > .bag_container{
        overflow: scroll;
    }
    details:focus{
        overflow: scroll;
    }
    .item_block{
        height: 30svh;
    }

    /* =============== ACCOUNT dropdown WINDOW ========== */
    details[open] >  #account_summary span::after{
        right: 27dvw;
        top: 12.5dvh;
    }

    .account_inner_block{
        width: 34dvw;
        height: 70dvh;
    }
    #theme_btn{
        width: 18dvw;
        height: 8dvh;
    }
    
    #slide_theme_btn{
        border: 2px solid rgba(93, 92, 92, 0.289);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.422);
        width: 8dvw;
        height: 7dvh;
        border-radius: 25rem;
    }

    /* ======================================================== */
/* ======================== NO TOGGLE NAV ========================= */
    .home_matcha_logo{
    height: 5rem;
    border: 3px solid rgba(255, 255, 255, 0.258); 
    width: 5rem;
    padding: .4rem;
}
    .nav_block{
        padding: 3rem 0rem 1rem;
        width: 30vw;

    }
    .nav{
        top: 0rem;
    }
    .special_announcement_bar{
        display: none;
    }

    .item_block{
        margin-top: 2rem;
    }

    .bag_block_header{
        padding-bottom: 5rem;
    }

    .each_item{
        height: auto
    }
    .tr_header{
        height: 4rem;
    }

    table td{

        height: 6rem;
    }
    #bag_summary span::after{
        right: 80svw;
    }
    .bag_counter{
        height: 10svh;
    }
/* ========================================================================= */
/* ======================== SLIDE IMGS ========================= */
    .slide_show_container, .slide_imgs_container, .slide, .slide img{
        width: 100svw;
        height: 100svh;
        object-fit: cover;
    }
    .description_container{
        margin-bottom: 5rem;
    }

    .slide_info{
        padding-bottom: 4rem;
    }

    .slide_item_description_main{
        margin-top: -5rem;
    }

    .matcha_name_main{
        margin: .3rem;
    }

 /* ============================================================ */
 /* ======================== HELP/ QUIZ AREA ========================= */
    .help_container{
        height: 100svh;
        width: 100svw;
        padding: 1rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .start_quiz_block{
        width: 45%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .help_matcha_img{
        display: flex;
        height: 14rem;
        margin: 0;
        border-radius: 2rem;
        align-items: center;
        width: 45%;
        object-fit: cover;

    }

    .help_start_quiz_btn{
        width: 14rem;
    }
    /* ============================================================== */

    /* ====================== ABOUT AREA =========================== */
    .about_container{
        height: 125svh;
        margin: 0;
    }
    /* ============================================================== */

    /* ======================== TOP RANK AREA ============================== */
    .top_rank_container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 1rem;
    }
    .top_rank_items_main_container{
        width: 100svw;
    }
    .top_rank_first_row, .top_rank_second_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45svw;
    }

    .top_rank_item_container{
        display: flex;
        justify-content: space-around;
        margin: .5rem;
        height: 10rem;
        width: 18rem;
    }

    .top_rank_item_info_section{
        text-align: left;
        height: 6rem;
        width:  10rem;
        padding: .2rem;
        margin-bottom: .4rem;
    }

    .top_rank_imgs{
        height: 8rem;
        width: 8rem;
    }

    .top_rank_title{
        font-size: 1.2rem;
        margin-top: .2rem;
        font-weight: 600;
    }

    .add_to_bag_btn{
        margin-top: -1rem;
        padding: .2rem;
    }
    /* ============================================================== */
    /* =================== MATCHA RECIPES AREA ============================== */

    .matcha_recipes_container{
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 10svh;
        padding: 2rem;
    }

    .matcha_recipes_block_container{
        margin-bottom: -5rem;
        flex-direction: row;
        justify-content: center;
        width: 100svw;
    }

    .matcha_recipe_block{
        padding: .2rem;
        width: 30svw;
    }

    .matcha_recipes_container_img{
        width: 11rem;
        height: 11rem;
    }

    .matcha_recipes_title{
        margin-top: 0rem;
    }

    .matcha_recipes_browse{
        margin-bottom: -1rem;
    }

    /* ============================================================== */

    /* ============================== FOOTER AREA ================================== */
    .footer_container{
        margin-top: 7rem;
        height: 100svh;
        padding: 0;
    }

    .account_and_guide_container{
        width: 100svw;
        justify-content: space-evenly;
    }

    .bottom_container{
        margin-top: 7rem;
    }

/* ============================================================== */
}