@media screen and (min-device-width: 850px){
    .nav{
        position: relative;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        top: 1.8rem;
        border: none;
    }
    .special_announcement_bar{
        display: flex;
        position: absolute;
    }


    .nav_block{
        font-size: .9rem;
        border: none;
        translate: none;
        height: 3.4rem;
        width: 50vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin-top: 0rem;
        margin-left: 0rem;
    }
    .nav_block a{
        font-size: 1rem;
    }
    .nav_block a:hover{
        color: white;
        padding-top: 0.2rem;
        transition: .4s ease-in-out;
        border-top: 3px solid rgba(255, 255, 255, 0.2);
    }

    .nav_account_section{
        width: 10vw;
        font-size: .9rem;
        justify-content: space-around;
    }

    .nav_account_section a{
        font-weight: 600;
        transition: .5s ease-in-out;
    }
    .nav_account_section a:hover{
        color: white;
        transition: .2s ease-in-out;
    }

    .nav_toggle_label, .menu_title{
        display: none;
    }
    .home_matcha_logo{
        display: none;
    }
    .home_matcha_logo_laptop{
        display: block;
        margin-top:.6rem;
        align-items: center;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        border: 3px solid rgb(112, 95, 95);
        padding: .2rem;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.36),
        1px 1px 1px 14px rgb(17, 11, 1);
    }

    /* ================================================================= */
    
    /* ============================= SLIDE AREA ================================= */
    .slide_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }
    .main_slide{
        flex-direction: column;
    }

    .slide_item_description_main{
        margin: 0rem 0rem -5rem;
        font-size: 1.5rem;
    }
    .matcha_name_main{
        font-size: 6rem;
    }
    .slide_show_container, .slide_imgs_container, .slide img, .slide_info,.slide_show_arrows{
        height: 50svh;
    }

    .description_container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .slide_img_container{
        height: 50svh;
        width: 25svw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 4;
    }
    

    .slide_img_container img{
        display:block;
        height: 12rem;
        width: 12rem;
        position: relative;
    }
    .matcha_item_shadow, .matcha_item_shadow_circ, .matcha_item_shadow_bag{
        display: block;
        height: 2rem;
        border-radius: 10%;
        width: 9rem;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.8);
    }

    .matcha_item_shadow_circ{
        border-radius: 50%;
    }
    .matcha_item_shadow_bag{
        border-radius: 15%;
        width: 10rem;
        margin-top: .8rem;
    }

    #sayaka_img{
        height: 16rem;
    }


    .slide_imgs_container{
        background: linear-gradient(to left, black, rgba(255, 255, 255, 0.218));
    }

     /* ================================================================= */


}